extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/case-studies/case-studies.component.pug
include ../../components/review-block/review-block.component.pug
include ../../components/client-testimonials/client-testimonials.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/why-choose-us-block/why-choose-us-block.component.pug


block title
    title client-result title
block page-content
    main.main
        +header({
            inner: true
        })
        +hero({
            inner: true,
            title: "Client Results",
            pagination: {
            links: [
                'Home',
            ],
            last: 'Client Results'
        },
        })
        +case-studies({
            clients: true
        })
        +client-testimonials
        +contact-us-block({
            contact: false
        })