mixin footer(data)
    footer.footer
        .container
            .footer__top-row
                .footer__top-col
                    ul.footer-menu
                        li
                            a(href="/") Practice Areas
                        li
                            a(href="/") Advantages of a Boutique Firm
                        li
                            a(href="/") Attorneys
                        li
                            a(href="/") Case Results
                        li
                            a(href="/") Perspectives
                        li
                            a(href="/") Careers 
                        li
                            a(href="/") Contact
            .footer__bottom-row
                .footer__bottom-col
                    p.copyright &copy; Copyright 2020 Belvedere Legal
                .footer__bottom-col
                    .privacy-policy
                        a(href="/") Disclaimer
                        span |
                        a(href="/") Privacy Policy
                .footer__bottom-col
                    .study
                        p Made in:
                        a(href="comrade.web")
                            picture
                                img(src="assets/img/comrade.svg", alt="Comrade Web Agency")