footer.footer {
  background-color: #2b2b2e;
  padding: 64px 0 62px;
  flex-grow: 0;
  margin-top: auto;
  @include phones {
    padding-bottom: 40px;
  }
  .footer-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    @include medium {
      justify-content: flex-start;
      align-items: flex-start;
    }
    li {
      transition: all 0.3s linear;
      @include medium {
        width: 50%;
        margin-bottom: 15px;
      }
      &:nth-child(-n + 4) {
        @include tablets {
          margin-right: auto;
        }
      }
      &:nth-last-child(-n + 3) {
        @include tablets {
          margin-left: auto;
        }
      }
      &:hover {
        opacity: 0.5;
      }
    }
    .privacy-policy {
      a {
        text-transform: inherit;
      }
    }
    a {
      font-family: $bold;
      font-weight: bold;
      font-size: $fz + 2;
      line-height: ($fz * 2) - 2;
      color: $white;
      text-transform: inherit;
    }
    @include medium {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .personal-cabinet {
    display: none;
    .user {
      font-family: $bold;
      font-weight: bold;
      font-size: $fz + 2;
      line-height: $fz * 2 - 2;
      color: $white;
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 10px;
    }
  }
}

.footer__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__top-col {
    &:first-child {
      width: 100%;
      max-width: 1125px;
    }

    &:last-child {
      max-width: calc(100% - 1125);
    }
  }
}

.footer__bottom-row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  @include medium {
    flex-wrap: wrap;
  }
  @include phones {
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
  }
}

.footer__bottom-col {
  p,
  a {
    font-family: $regular;
    font-size: $fz + 2;
    line-height: $fz * 2 - 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }
  display: flex;
  align-items: center;
  &:first-child {
  }
  &:nth-child(2) {
    span {
      display: inline-block;
      margin: 0 10px;
    }
  }
  &:last-child {
    .study {
      display: flex;
      align-items: center;
    }
    p {
      margin-right: 10px;
    }
    img {
      height: 1em;
      width: auto;
      display: block;
    }
  }
}
