mixin contact-us-block(data)
    section.contact-us-block
        .container
            .contact-us-block__row
                .contact-us-block__col
                    h2.h2  Request your <br> case consultation
                    address.contact-us-block__address
                        picture
                            img(src="assets/img/pin.svg", alt="Pin")
                        p 1777 Borel Pl., Suite 314 San Mateo, CA 94402
                            a(href="/" class="directions")  get directions
                    .contact-information
                        a.contact-information__item(href="tel:+14155135980") 
                            picture
                                img(src="assets/img/phone.svg", alt="Phone")
                            span (415) 513-5980
                        span.contact-information__item
                            picture
                                img(src="assets/img/fax.svg", alt="Fax")
                            span (415) 513-5985
                        a.contact-information__item(href="mailto:info@belvederelegal.com") 
                            picture
                                img(src="assets/img/mail.svg", alt="mail")
                            span info@belvederelegal.com
                        a.contact-information__item(href="/")
                            picture
                                img(src="assets/img/in.svg", alt="In")
                            span belvederelegal
                        if data.contact
                            .wrap-contact-information
                                a.contact-information__item(href="/")
                                    picture
                                        img(src="assets/img/money.svg", alt="In")
                                    span Make a Payment
                                a.contact-information__item(href="/")
                                    picture
                                        img(src="assets/img/user-gray.svg", alt="In")
                                    span Client Portal
                        else
                        a.contact-information__item(href="/")
                            picture
                                img(src="assets/img/clock.svg", alt="Clock")
                            span  
                                b Working Hours:
                                span 8 am — 6 pm (Monday — Friday)
                     
                hr
                .contact-us-block__col
                    .title-form 
                        p Fill out the form below to schedule a consultation. 
                            br
                            | All fields required.
                    form.form
                        .input__wrap
                            input.input(type="text" placeholder="Name*")
                        .input__wrap
                            input.input(type="email" placeholder="Email*")
                        .input__wrap
                            input.input(type="tel" placeholder="Phone*")
                        .input__wrap
                            textarea.input(type="textarea" placeholder="Briefly describe your situation. Please include as much information as possible, e.g. case summary*")
                        .input__btn
                            <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn--form typesubmit">
                             .preloader
                                i.fal.fa-redo