@import '../../../node_modules/node-snackbar/dist/snackbar.min.css';

.contact-us-block {
  background-color: $c-title;

  color: $c-text;
  h2 {
    color: $c-lightgray;
    margin-bottom: 48px;
  }
  @include medium {
    .container {
      padding: 0;
    }
  }
  a.contact-information__item:hover {
    color: $white;
    opacity: 0.5;
  }
}
.contact-us__bg {
  height: 300px;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

.contact-us-block__row {
  display: flex;
  @include medium {
    flex-direction: column;
  }
}
.contact-us-block__col {
  flex-direction: column;
  &:first-child {
    padding: 76px 0;
    padding-right: 137px;
    flex-basis: 100%;
    max-width: 495px;
    border-right: 1px solid rgba(119, 122, 124, 0.2);
    @include medium {
      padding: 20px 24px 40px;
      border: 0;
      max-width: 100%;
    }
  }
  @include tablets {
    h2 {
      br {
        display: none;
      }
    }
  }
  div.wpcf7 {
    width: 100%;
  }
  &:last-child {
    padding: 125px 0 100px;
    width: 100%;
    max-width: 535px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    @include medium {
      align-items: flex-start;
      padding: 40px 24px 75px;
      border: 0;
      max-width: 100%;
      br {
        display: none;
      }
      form {
        margin: 0;
      }
    }
    @media screen and (min-width: $medium) {
      .title-form,
      .form {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
hr {
  width: 100%;
  opacity: 0.3;
  border-bottom: 1px solid #777a7c;
  box-sizing: border-box;
  @media screen and (min-width: $medium) {
    display: none;
  }
}
.title-form {
  margin-right: auto;
  font-family: $regular;
  margin-bottom: 48px;
  p {
    font-size: $fz + 2;
    line-height: ($fz * 2) - 2;
    color: $white;
    margin: 0;
  }
  @include phones {
    margin-bottom: 32px;
  }
}
.contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__item {
    font-family: $regular;
    display: inline-flex;
    color: $white;
    opacity: 1;
    font-size: $fz + 2;
    line-height: ($fz * 2) - 2;
    text-transform: inherit;
    img {
      width: 24px;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    picture {
      margin-right: 25px;
    }
    &:last-child {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
      span {
        span {
          width: 100%;
          display: block;
          margin-top: 5px;
        }
      }
    }
  }
  a.contact-information__item:hover {
    // color: $white;
    opacity: 0.5;
  }
  .contact-information__item {
    &:last-child {
      margin-top: 10px;
    }
  }
}
address.contact-us-block__address {
  display: flex;
  flex-direction: row;
  max-width: 245px;
  margin-bottom: 20px;
  font-style: normal;
  font-family: $regular;
  picture {
    margin-right: 25px;
  }
  p {
    margin-top: 0;
    color: $c-gray;
  }
  a {
    margin-top: 20px;
    font-family: $bold;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #dadada;
    // color: #3A6EAA;
    width: 100%;
    display: block;
    &:hover {
      color: currentColor;
      opacity: 0.5;
    }
    @include medium {
      color: $white;
    }
  }
}

.form {
  color: $c-text;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 535px;
  .btn {
    margin-top: 30px;
  }
  @include tablets {
    max-width: 100%;
  }
}
.input {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  height: 40px;
  background: transparent;
  resize: none;
  width: 100%;
  color: $c-text;
  &:focus {
    color: $white;
    border-color: $white;
    .input__placeholder {
      top: 0;
      span {
        font-size: 14px;
      }
    }
  }
  &.not-empty {
    .input__placeholder {
      top: 0;
      span {
        font-size: 14px;
      }
    }
  }
}
.not-empty {
  .input__placeholder {
    top: 0 !important;
    span {
      font-size: 14px !important;
    }
  }
}
textarea.input {
  min-height: 52px;
  max-height: 255px;
  @include medium {
    line-height: 1.5;
    min-height: 5.5em;
  }
}

.input__wrap {
  position: relative;
  padding-top: 30px;
  margin-bottom: 10px;
  display: flex;
}
.input__placeholder {
  position: absolute;
  left: 0;
  top: 25px;
  // z-index: -1;
  transition: 0.2s ease-in-out;
  i {
    font-size: 14px;
    margin-right: 9px;
    color: $c-blue;
  }
  span {
    transition: 0.2s ease-in-out;
  }
}
.btn--form {
  margin-top: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: $fz;
  line-height: $fz + 5;
  color: $white;
  display: flex;
  align-items: center;
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0 !important;

  &:hover {
    // opacity: 0.6;
    background: none;
  }
  // span {

  // }
  img {
    margin-left: 25px;
  }
  @include tablets {
    margin-left: 0;
  }
}
.wrap-contact-information {
  margin-top: 30px;
  .contact-information__item {
    margin-bottom: 15px;
    margin-top: 0;
  }
}
.input__btn {
  margin-top: 45px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s linear;
  cursor: url(assets/img/cursor.png) 2 2, pointer;
  margin-left: auto;
  width: 240px;
  input {
    // width: 100%;
    margin-left: 0;
    z-index: 1;
    background: none !important;
  }
  &:after {
    content: '';
    width: 58px;
    height: 15px;
    margin-top: 2px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url('assets/img/long-arrow.png');
    z-index: 0;
  }
  &:hover {
    opacity: 0.5;
  }
  .btn {
    margin-top: 0;
  }
  @include tablets {
    margin-left: 0;
    margin-right: auto;
  }
}
div.ajax-loader {
  position: absolute;
  left: -30px;
}

.preloader {
  margin-left: 10px;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  position: absolute !important;
  left: -31px !important;
  &.active {
    visibility: visible;
    position: relative;
    animation: spin 0.8s infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
