.perspectives-inner {
  padding-top: 40px;
  padding-bottom: 100px;

  .info-block {
    margin-top: 50px;
    padding: 45px 48px 50px;
    @include phones {
      padding-left: 16px;
      padding-right: 16px;
    }
    h3 {
      margin-top: 0;
    }

    p {
      margin-top: 0;
    }

    .info-block__row {
      flex-direction: column;
      align-items: flex-start;
    }

    .info-block__col {
      padding: 0;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;

      .btn {
        margin: 16px 0 0;
      }
    }
  }
  // img {
  //     margin: 40px 0;
  //     width: 100%;
  //     height: 100%;
  //     max-width: 871px;
  //     max-height: 513px;
  //     object-fit: cover;
  //     object-position: center;
  // }
  // .perspectives-inner__img {

  // }
}

.perspectives-inner__row {
  display: flex;
  @include tablets {
    flex-direction: column;
  }
}

.perspectives-inner__col {
  position: relative;
  &:first-child {
    width: 100px;
    .social {
      text-align: center;
      position: sticky;
      top: 140px;
    }
  }

  &:last-child {
    width: 975px;
    padding-right: 100px;
    margin: 0 auto;
    max-width: 100%;
    @include medium {
      width: 100%;
      padding-right: 0;
    }
  }
  .info-block__col {
    .btn {
      margin-top: 0 !important;
    }
  }
}

.perspectives-inner__content {
  ul,
  ol {
    color: #3a3a3c;
  }
  &:not(:first-child) {
    margin-top: 50px;
  }
  p,
  a {
    &:first-child {
      margin-top: 0;
    }

    font-size: $fz;
    font-family: $regular;
    line-height: $fz + 12;
    color: $c-dark;
  }
  a {
    color: #3a6eaa;
    font-weight: bold;
  }
}

.perspectives-inner__description {
}

.perspectives-inner__description {
  b {
    color: #000;

    a {
      color: $c-blue;
      font-family: $regular;
      font-size: 16px;
      line-height: 28px;
      padding-left: 5px;
    }
  }
}
.social-fixed {
  // margin-left: 24px;
  position: fixed;
  @include tablets {
    display: flex !important;
    position: relative;
    margin-left: 0;
  }
}
.list-content-block__content-row .list-block li:first-child {
  @include tablets {
    margin-bottom: 15px;
  }
}
