mixin perspectives-inner(data)
    .perspectives-inner
        .container
            .perspectives-inner__row
                .perspectives-inner__col
                    .social
                        a.social__item(href="/")
                            i(class="fab fa-facebook-f")
                        a.social__item(href="/")
                            i(class="fab fa-twitter")
                        a.social__item(href="/")
                            i(class="fab fa-linkedin")
                        a.social__item(href="/")
                            i(class="fal fa-envelope")
                .perspectives-inner__col
                    .perspectives-inner__content
                        p  Learn about secured, unsecured, and priority debts in bankruptcy.
                        p Filing for bankruptcy involves disclosing your debts, or “creditor claims,” on official bankruptcy paperwork. But as easy as that might sound, classifying claims can get a bit tricky. 
                        p First, you’ll list the debt as either a secured or unsecured claim. Then, you’ll divide the unsecured claims into priority and nonpriority unsecured claims. In this article, you’ll learn how to properly label each debt and find out what will happen to it in bankruptcy.
                    .perspectives-inner__description
                        b See also:
                            a(href="/") When Does My Chapter 7 Bankruptcy Case End?
                    +info-block({
                        title: "Get effective legal solutions for difficult financial issues now.",
                        class: "info-block--blue",
                        btn: "Schedule Free Consultation",
                        content: true
                    })
                    .perspectives-inner__content
                        h3  Listing Creditor Claims in Your Bankruptcy Paperwork
                        p Nam aliquam sem et tortor consequat id porta nibh. Tincidunt nunc pulvinar sapien et ligula ullamcorper. Pharetra diam sit amet nisl suscipit adipiscing. A iaculis at erat pellentesque adipiscing commodo elit at. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Porttitor massa id neque aliquam vestibulum. Eget magna fermentum iaculis eu non. Pharetra sit amet aliquam id diam. Tincidunt ornare massa eget egestas purus viverra. Feugiat in fermentum posuere urna nec tincidunt.
                        picture.perspectives-inner__img
                            img(data-src="assets/img/image.jpg", alt="Image")
                        p Cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Tempus iaculis urna id volutpat. Eu facilisis sed odio morbi. Nibh venenatis cras sed felis eget velit aliquet sagittis. Diam in arcu cursus euismod quis. Justo laoreet sit amet cursus sit amet dictum. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Vel orci porta non pulvinar neque laoreet suspendisse. Justo donec enim diam vulputate ut pharetra. Auctor urna nunc id cursus. Ultrices sagittis orci a scelerisque. Nunc sed blandit libero volutpat sed cras ornare. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Duis at tellus at urna. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi. Leo urna molestie at elementum. Non arcu risus quis varius quam quisque id. Turpis in eu mi bibendum neque. Eget nunc scelerisque viverra mauris in. Egestas sed tempus urna et pharetra pharetra massa. Eu lobortis elementum nibh tellus molestie nunc non blandit. Arcu dui vivamus arcu felis bibendum ut tristique.
                    .perspectives-inner__description
                        b See also:
                            a(href="/") When Does My Chapter 7 Bankruptcy Case End?