mixin why-choose-us-block(data)
    .why-choose-us-block
        h2 Why Choose Us?
        .why-choose-us-block__row
            .why-choose-us-block__col
                h3 Creative Solutions
                p Time is more valuable than money. Yet time and money are inextricably intertwined, and the inefficient use of one’s time can lead to a waste of resources.
                h3 Direct Contact
                p You call our firm and you get a live person on the line – usually the principal, Matt Metzger, Esq.
                h3 Low Overhead
                p We pass on cost-savings to clients.
                a.btn.btn--tilda(href="/")
                    span Advantages of a Boutique Firm
                    span.tilda ～