
.why-choose-us-block {
    position: relative;
    z-index: 2;
    min-height: 720px;
    background-color:$white;
    width: 100%;
    margin-right: auto;
    max-width: 760px;
    padding: 83px 112px 92px ;
    @include medium {
        padding: 43px 32px 53px;

    }
    @include tablets {
        min-height: 600px;
    }
    h2 {
        margin-top: 0;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 0;
    }
    .btn {
        margin-top: 30px;
    }
}
.why-choose-us-block__row {
    justify-content: space-between;
    display: flex;
}
.why-choose-us-block__col {
    width: 100%;
    &:first-child {
        // max-width: 536px;
    }
    p {
        margin-top: 8px;
    }
    &:last-child {
        // max-width: 493px;
        display: flex;
        flex-direction: column;
        .btn {
            margin-right: auto;
        }
    }
    @include medium {
        .btn {
            display: none;
        }
    }
}
.why-choose-us-block__top {
    margin-bottom: 56PX;

}
.why-choose-us-block__bottom {
    margin-bottom: 48px;
   
}
