mixin list-content-block(data)
    section.list-content-block(class=`${data.class ? data.class : ''}`)
        if data.top
            .container
                .list-content-block__content
                    .list-content-block__content-row
                        .list-content-block__content-col
                            h2 Our Practice Areas
                        .list-content-block__content-col
                            p(style="font-weight: bold") Helping our clients with a wide range of bankruptcy and commercial litigation matters.
                                br
                                | The Belvedere Legal Firm focuses exclusively on bankruptcy law which allows us to give you knowledgeable and skilled advice to guide you through your process.

                    .list-content-block__content-row
                        -
                            var obj = [
                                {title: "Business Reorganization & Wo-rkouts", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                                {title: "Business and Commercial Litigation", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                                {title: "Consumer Bankruptcy", text: "The United States Bankruptcy Code offers several types of bankruptcy filings, most notably Chapters 7, 13, and 11."},
                                    {title: "Bankruptcy Litigation", text: "Elit pellentesque habitant morbi tristique senectus. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elementum..."},
                                {title: "Corporate", text: "Tempor orci eu lobortis elementum nibh tellus molestie nunc non. Nulla malesuada pellentesque elit eget gravida cum... "},
                                {title: "Pro Bono & Community Involvement ", text: "The firm believes it has a responsibility to not only its clients but the community at large."},
                            ];
                        ul.list-block
                            each item in obj
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")                        
        if data.bottom
            .container

                .list-content-block__content-row
                    .list-content-block__content-col
                        -
                            var obj = [
                                {title: "Business Reorganization & Wo-rkouts", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                                {title: "Business and Commercial Litigation", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                                {title: "Consumer Bankruptcy", text: "The United States Bankruptcy Code offers several types of bankruptcy filings, most notably Chapters 7, 13, and 11."}
                            ];
                        ul.list-block
                            each item in obj
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")
                    -
                        var obj1 = [
                            {title: "Business Reorganization & Wo-rkouts", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                            {title: "Business and Commercial Litigation", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                            {title: "Consumer Bankruptcy", text: "The United States Bankruptcy Code offers several types of bankruptcy filings, most notably Chapters 7, 13, and 11."}
                        ];
                    .list-content-block__content-col
                        ul.list-block
                            each item in obj1
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")
        if data.inner
            .container
                .list-content-block__content-row
                    h2 Our Practice Areas
                .list-content-block__content-row
                    .list-content-block__content-col
                        -
                            var obj = [
                                {title: "Business Reorganization & Wo-rkouts", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                                {title: "Business and Commercial Litigation", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                                {title: "Consumer Bankruptcy", text: "The United States Bankruptcy Code offers several types of bankruptcy filings, most notably Chapters 7, 13, and 11."}
                            ];
                        ul.list-block
                            each item in obj
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")
                    -
                        var obj1 = [
                            {title: "Business Reorganization & Wo-rkouts", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                            {title: "Business and Commercial Litigation", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                            {title: "Consumer Bankruptcy", text: "The United States Bankruptcy Code offers several types of bankruptcy filings, most notably Chapters 7, 13, and 11."}
                        ];
                    .list-content-block__content-col
                        ul.list-block
                            each item in obj1
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")
        if data.advabteges
            .container
                .list-content-block__content-row
                    .list-content-block__content-col
                        ul
                            li
                                h3 Direct Contact
                                p You call our firm and you get a live person on the line – usually the principal, Matt Metzger, Esq.
                            li
                                h3 Low Overhead
                                p We pass on cost-savings to clients. We are not in a tall building on the 20th floor – but we have a great office structure – on the 3rd floor - with a peaceful view of redwood trees. We have no “billing quota” – only dedicated billing to each, individual client, on a discrete, individual basis.
                            li
                                h3 Creative Solutions
                                p Time is more valuable than money. Yet time and money are inextricably intertwined, and the inefficient use of one’s time can lead to a waste of resources. We recognize that that our debtor clients don’t have extra resources to burn, and our creditor clients don’t wish to spend “good money” to go after “bad money”. These limitations – both time and money – create opportunities. Larger firms run the risks of largesse. Our firm a targets the sweet spot that fuses time and money to crate the most efficient action plan for a client. There are no short-cuts; everything is always harder and takes longer than anticipated. We practice efficient legal solutions. Back to those redwood trees. We have fostered an environment within which to calmly reflect on a given situation, problem solve, identify the best solution, see it through to the successful execution the most efficient plan of attack.
                    .list-content-block__content-col
                        .description-block
                            picture.description-block__user-img
                                img(src="assets/img/user.jpg", alt="User")
                            h3.description-block__user-title
                                span “Over the course of my career,  I have handled and settled hundreds of bankruptcy cases. I am fully committed to your case, no matter its size.”
                                picture
                                    img(src="assets/img/brackets.svg", alt="img")
        if data.careers
            .container
                .list-content-block__content-row
                    h2 Current Openings
                .list-content-block__content-row
                    .list-content-block__content-col
                        -
                            var obj = [
                                {title: "Removal Defense Staff Attorney", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                                {title: "Staff Attorney", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                            ];
                        ul.list-block
                            each item in obj
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")
                    -
                        var obj1 = [
                            {title: "Administrative Assistant", text: "Debtors and debtors in possession are the focal point of any out-of-court workout, chapter 11 case, or chapter 7 case."},
                            {title: "Direct Service Worker (DOJ Accredited Representative)", text: "We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions..."},
                        ];
                    .list-content-block__content-col
                        ul.list-block
                            each item in obj1
                                li.list-block__item
                                    a(href="/")
                                        h4.list-block__item-title= item.title
                                        p.list-block__item-text= item.text
                                        picture
                                            img(src="assets/img/list-item-arrow.svg" alt="arrow")