.list-content-block {
  overflow: hidden;
  .container {
    background: $white;
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 97px 112px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: 1200px) {
      padding-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 20px;
    }
  }
  &__content-row {
    display: flex;
    &:first-child {
      margin-bottom: 40px;
    }
    .list-block__item a {
      display: flex;
      flex-direction: column;
    }
    .list-block {
      li {
        &:first-child {
          margin-bottom: 24px;
          // padding-right: 20px;
          @include medium {
            margin-bottom: 15;

            p {
              font-size: 18px;
              line-height: 28px;
            }
            p > br {
              display: none;
            }
          }
        }
      }
    }

    @include medium {
      h2,
      p {
        padding-left: 0;
        padding-right: 0;
      }
      flex-direction: column;
      padding-right: 0;
      margin-top: 20px;
    }

    &:last-child {
    }
  }

  &__content-col {
    &:first-child {
      min-width: 347px;
      padding-right: 20px;
      @include medium {
        min-width: 100%;
        padding-right: 0;
      }
    }

    &:last-child {
      padding-left: 20px;

      @include medium {
        padding-left: 0;
      }
    }
  }
}
.list-content-block--careers {
  padding-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .container {
    margin: 0 15px;
    padding: 88px 112px;
    max-width: 1290px;

    @include medium {
      padding: 40px;
    }
    @include phones {
      padding: 20px;
    }
  }
  .list-content-block__content-row {
    &:first-child {
      margin-bottom: 10px;
    }
    h2 {
      margin-left: 0;
    }
    &:first-child {
      padding-bottom: 0;
    }
    .list-content-block__content-col {
      width: 50%;
      @include tablets {
        width: 100%;
      }
    }
  }
  .list-block {
    justify-content: space-between;
    .list-block__item {
      width: 48%;
      margin-left: 0;
      @include medium {
        width: 100%;
      }
    }
    a {
      flex-direction: column;
      display: flex;
    }
  }
}
