extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/attorneys-inner/attorneys-inner.component.pug
include ../../components/info-block/info-block.component.pug
//- include ../../components/practic--description/practic--description.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug

block title
    title attorneys-inner title
block page-content
    main.main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: true,
            video: false,
            perspectives: false,
            title: "Matthew D. Metzger",
            pagination: {
            links: [
                'Home',
                'Attorneys'
            ],
            last: 'Matthew D. Metzger'
        }
        })
        +attorneys-inner

        +contact-us-block({
            contact: false
        })