.attorneys {
  padding-top: 16px;
  padding-bottom: 125px;
  .attorneys__item-user {
    img {
      width: 100%;
      height: 100%;
      max-width: 363px;
      max-height: 543px;
      object-fit: cover;
      object-position: center;
    }
  }
  //     .subtitle {
  //         font-family: $regular;
  //         font-size: $fz;
  //         line-height: $fz + 12;
  //         color: $c-text;
  //     }
}
.attorneys__row {
  display: flex;
  flex-direction: column;
}

.attorneys__item-left .attorneys__item-content {
  margin-right: 25px;
  margin-left: 85px;
  @include medium {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.attorneys__item-right {
  flex-direction: row-reverse;
  &:after {
    left: 0;
  }

  .attorneys__item-content {
    margin-left: 25px;
    margin-right: 85px;
    @include medium {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}
.attorneys__item-right .attorneys__item-content {
  margin-left: 25px;
  margin-right: 85px;
  @include medium {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.attorneys__item-content {
  max-width: 595px;
}
a.link.link__icon {
}
.attorneys__item {
  margin-left: auto;
  padding: 90px 0;
  display: flex;
  align-items: start;
  width: 90%;
  position: relative;

  &::after {
    content: '';
    background: #f8f8f8;
    position: absolute;
    top: 0;
    right: 0;
    width: 87%;
    height: 100%;
    z-index: -1;
  }
  &:not(:last-child) {
    margin-bottom: 55px;
  }
  h2 {
    font-family: $bold;
    font-weight: bold;
    font-size: $fz-h2 - 8;
    line-height: $fz-h2 + 2;
    color: $c-dark;
    margin-top: 0;
    margin-bottom: 15px;
    @include phones {
      font-size: $fz-h3;
      line-height: $fz-h3 + 8;
    }
  }
  .subtitle {
    font-family: $regular !important;
    font-size: $fz !important;
    line-height: $fz + 12 !important;
    color: $c-text !important;
    margin-bottom: 32px;
  }
  p {
    font-family: $regular;
    font-size: $fz-h3;
    line-height: $fz-h3 + 16;
    color: $c-title;
    // &:last-child {
    margin-bottom: 40px;
    // }
    @include phones {
      font-size: $fz-h3 - 8;
      line-height: 130%;
    }
  }
  .link {
    font-size: $fz - 2;
    line-height: $fz + 2;
    letter-spacing: 0.01em;
    color: $c-blue;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @include phones {
      font-size: $fz - 4;
      line-height: 130%;
    }
  }
  @include medium {
    width: 100%;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 20px 0 70px;
    &:after {
      content: '';
      width: 100%;
      height: 90%;
      bottom: 0;
      top: initial;
    }
    .attorneys__item-user {
      margin-bottom: 40px;
    }
  }

  @include phones {
    padding-bottom: 40px;
    .attorneys__item-content {
      margin: 0 40px;
      // * {
      //     font-size: 100%;
      //     line-height: 120%;
      // }
    }
  }
}
