mixin attorneys(data)
    .attorneys
        .container
            .attorneys__row
                .attorneys__item.attorneys__item-left
                    picture.attorneys__item-user
                        img(data-src="assets/img/user-1.jpg", alt="")
                    .attorneys__item-content
                        h2 Matthew D. Metzger
                        .subtitle Principal, Admitted in California
                        p Mr. Metzger has significant experience representing debtors, creditors, and parties in commercial litigation, adversary proceedings, and litigation in state courts and federal courts...
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span view full bid
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span Get in touch with Matthew D. Metzger

                .attorneys__item.attorneys__item-right
                    picture.attorneys__item-user
                        img(data-src="assets/img/user-2.jpg", alt="")
                    .attorneys__item-content
                        h2 David Leyva
                        .subtitle Independent Contractor, Admitted in California
                        p David received his Juris Doctor degree from the UCLA School of Law in 2018 where he specialized in Business Law. As a law student, he served as research assistant to Professor Adam Winkler on corporate and Constitutional law matters...
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span view full bid
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span Get in touch with Matthew D. Metzger