extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/map/map.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug

block title
    title contact-us title
block page-content
        +header({
            inner: true
        })
        +hero({
            inner: true,
            title: "",
            image: "assets/img/bg-image.jpg",
            pagination: {
            links: [
                'Home',
            ],
            last: 'Contact'
        }
        })
        +map
        +contact-us-block({
            contact: true
        })

