extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/info-block/info-block.component.pug
include ../../components/content-cards/content-cards.component.pug
include ../../components/perspectives-inner/perspectives-inner.component.pug

block title
    title perspectives title
block page-content
    main
        +header({
            inner: true
        })
        +hero({
            perspectiveInner: true,
            title: "What Are the Differences Between an Adversary Procedure and a Contested Matter?",
            pagination: {
            links: [
                'Home',
                'Perspectives'
            ],
            last: 'What Are the Differences Between an Adversary Procedure and a Contested Matter?'
        }
        })
        +perspectives-inner
        +content-cards({
            blog: true
        })
        +contact-us-block({
            contact: false
        })