mixin attorneys-inner(data)
    section.attorneys-inner
        picture.attorneys-inner__bg
            img(src="assets/img/attorneys-inner.jpg", alt="Bg")
        .container
            .attorneys-inner__row
                .card-user
                    .card-user__row
                        .card-user__col
                            .card-user__info
                                .card-user__title
                                    span My Road to Practicing Bankruptcy 
                                        br
                                        | Isn’t a Typical One.
                                    picture
                                        img(src="assets/img/brackets.svg", alt="img")
                                p.subtitle Mr. Metzger has significant experience representing debtors, creditors, and parties in commercial litigation, adversary proceedings, and litigation in state courts and federal courts.
                                .card-user__info-links
                                    .contact-information
                                        a.contact-information__item(href="tel:+14155135980") 
                                            picture
                                                img(src="assets/img/phone.svg", alt="Phone")
                                            span (415) 513-5980
                                        a.contact-information__item(href="mailto:info@belvederelegal.com") 
                                            picture
                                                img(src="assets/img/mail.svg", alt="mail")
                                            span info@belvederelegal.com
                        .card-user__col
                            picture.attorneys-inner__user
                                img(data-src="assets/img/user-1.jpg", alt="User")
            .attorneys-inner__row
                .attorneys-inner__col
                    ul.description-user
                        li.description-user__item(id="s1")
                            h2 Biography
                            p He has represented numerous individual consumer debtor cases in chapter 11, chapter 7, and chapter 13, since 2009. He also has handled numerous commercial business debtors, in both chapter 11 and chapter 7. Has also has significant litigation experience and has appeared in numerous state and federal courts as well as the Ninth Circuit Appellate Court. Prior to founding Belvedere Legal in 2008, Matt worked as a principal at Cotchett, Pitre & McCarthy, where his civil caseload focused on securities, predatory and abusive lending practices, as well as consumer and investor fraud class actions. Prior to that position, Matt served as Deputy District Attorney in the Office of the District Attorney, County of San Joaquin. As a prosecutor, Matt tried criminal matters as well as civil cases under California’s Unfair Competition Law. From 2014-2017, Matt served a three-year term on the Bench-Bar Liaison Committee for the U.S. Bankruptcy Court for the Northern District of California. The Bench-Bar Liaison Committee serves as a forum in which the judges and the bar can work together to improve the quality of practice in Northern District of California and the manner in which court business is conducted. 
                        li.description-user__item(id="s2")
                            h3 Bar Admission
                            p Matt is a member of the Bay Area Bankruptcy Forum, the San Mateo County Bar Association, the Bar Association of San Francisco, and the State Bar of California Business Litigation section.
                        li.description-user__item(id="s3")
                            h3 Education
                            p Matt received his Bachelor of Arts degree from Princeton University, where he majored in comparative literature, in 1994, and graduated Magna Cum Laude with a Certificate in East Asian Studies. In 1995, he received a Fulbright Scholarship to study in Japan. In 2000, he received a Master’s Degree from Stanford University in the field of comparative literature. In 2005, Matt received his Juris Doctor degree from the University of California Davis School of Law. He served as a research assistant to Professor Albert Lin on environmental law matters and as Executive Editor of U.C. Davis’s Journal of International Law and Policy. Following law school, he clerked for the Honorable Larry R. Weeks of the First Judicial District in Juneau, Alaska.
                        li.description-user__item(id="s4")
                            h3 Admissions
                            p Matt is admitted to the State Bar of California, the State Bar of Alaska, the Northern, Eastern, and Central Districts of California, and the United States Court of Appeals for the Ninth Circuit. He is married to Dr. Neeta Jain and has two children. He grew up in Belvedere, CA in the 70s and 80s and he named his firm after the term “belvedere”, which means a “structure that commands a view.”
                .attorneys-inner__col
                    ul.attorneys-menu
                        li.attorneys-menu__item.attorneys-menu__item-active
                            a.uppercase(href="#s1" rel='m_PageScroll2id') biography
                        li.attorneys-menu__item
                            a.uppercase(href="#s2" rel='m_PageScroll2id') Bar Admission
                        li.attorneys-menu__item
                            a.uppercase(href="#s3" rel='m_PageScroll2id') Education
                        li.attorneys-menu__item
                            a.uppercase(href="#s4" rel='m_PageScroll2id') Admissions
                    +info-block({
                        title: "Get effective legal solutions for difficult financial issues now.",
                        class: "info-block--blue info-block--vertical",
                        btn: "Schedule Free Consultation",
                        content: true
                    })
        .attorneys-inner__row--noflef
          
            .container
                .attorneys-inner__row.attorneys-inner__row--white
                    .attorneys-inner__col
                        h2 Come Work With Us
                        a.link.link__icon.uppercase(href="/")
                            picture
                                img(src="assets/img/arrow-small.svg", alt="Icon")
                            span See more current opportunities
                    .attorneys-inner__col
                        p Belvedere Legal offers law students, practicing lawyers and other professionals the opportunity to apply their time and talents toward resolving important and challenging legal matters on today’s legal stage, working with a shared commitment to client service, the legal profession, and community support.
                        h3 How to Apply?
                        p Interested individuals may contact the firm at
                            br
                            a(href="mailto:info@belvederelegal.com") info@belvederelegal.com
                        p Please include the title of the job in the subject line.
