// @import "../../helpers/styles/base.scss";

.card-user {
  .card-user__row {
    display: flex;

    @include medium {
      flex-direction: column;
    }
  }
  .card-user__info {
    @include tablets {
      margin-top: 20px;
    }
  }

  .card-user__title {
    position: relative;
    font-family: $bold;
    font-weight: bold;
    font-size: $fz-h3;
    line-height: $fz-h3 + 14;
    color: $c-title;
    margin-bottom: 24px;
    span {
      z-index: 1;
      position: relative;
    }
    picture {
      img {
        position: absolute;
        left: -50px;
        top: -23px;
        z-index: 0;
        @include tablets {
          left: -5px;
        }
      }
    }
    @include tablets {
      br {
        display: none;
      }
    }
  }
  .subtitle {
    margin-bottom: 24px;
    font-family: $regular !important;
    font-size: $fz + 2 !important;
    line-height: $fz + 14 !important;
    color: $c-title !important;
  }

  .card-user__info-links {
    display: flex;
    flex-direction: column;
    a {
      margin-top: 0;
      color: $c-blue;
      font-family: $bold;
      font-weight: bold;
      opacity: 1;
      margin-bottom: 10px;
    }
  }
  .attorneys-inner__user {
    img {
      position: absolute;
      transform: translateY(-150px);
      width: 100%;
      object-position: center;
      object-fit: cover;
      display: block;
      max-width: 424px;
      height: 550px;
      z-index: 1;
      top: -180px;
      @include medium {
        top: 0;
        max-width: 100%;
        position: relative;
        transform: none;
        max-width: 489px;
        height: 510px;
        margin: 0 auto;
        object-fit: cover;
        object-position: center;
      }
      @include phones {
        height: 300px;
      }
    }
  }
  .contact-information {
  }
}
.card-user__col {
  &:first-child {
    width: 100%;
    max-width: 560px;
    margin-left: auto;
    margin-right: 110px;
    @include medium {
      order: 2;
      max-width: 100%;
    }
  }

  &:last-child {
    position: relative;
    width: 100%;
    max-width: 440px;
    margin-right: auto;
    @include medium {
      order: 1;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
}
.attorneys-inner {
  padding-top: 36px;
  padding-bottom: 80px;
  position: relative;
  @include medium {
    padding-top: 0;
  }
  .attorneys-inner__bg {
    img {
      bottom: 0;
      width: 100%;
      height: 100%;
      max-height: 620px;
      position: absolute;
      object-fit: cover;
      object-position: center;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.container {
}

.attorneys-inner__row {
  background-color: $white;
  @media screen and(max-width: 1150px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include medium {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  // @extend .card-user__row;
  .card-user {
    margin-top: 30px;
    .card-user__row {
      @include medium {
        flex-direction: column;
      }
    }
    .card-user__title img {
      @media screen and (max-height: 1220px) {
        left: -12px;
      }
    }
  }

  .attorneys-inner__col {
    @extend .card-user__col;

    &:first-child {
      h2 {
        margin-top: 0;
      }
      @include medium {
        order: 2;
      }
    }
    &:last-child {
      display: flex;
      flex-direction: column;
      @include medium {
        flex-direction: column;
        order: 1;
        margin-bottom: 0;
      }
      h3 {
        margin-bottom: 18px;
      }

      .info-block {
        margin-top: auto;
        margin-bottom: 10px;
        @include medium {
          border: none;
          padding: 50px 64px 45px;
          background: $c-lightBlue;
          .btn {
            margin-top: 24px !important;
          }
        }
        @include phones {
          padding-top: 20px;
          padding-bottom: 40px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .btn {
          @include phones {
            padding-left: 9px;
            padding-right: 9px;
          }
        }
        // @include medium {
        //     padding-top: 30px;
        //     padding-bottom: 30px;
        //     &.info-block--vertical h3 {
        //         margin-top: 0;
        //     }
        //     .btn--tilda {
        //         margin-top: 0px!important;
        //         // width: 100%;
        //         font-size: 10px;
        //     }
        // }
        // @include phones {
        //     padding: 20px 20px 25px;

        // }
      }
    }
    @include phones {
      h2 {
        font-size: 26px;
        line-height: 36px;
      }
    }
  }

  &--white {
    background-color: $white;
    position: relative;
    z-index: 1;
    display: flex;
    padding-top: 120px;
    padding-bottom: 115px;
    .attorneys-inner__col {
      &:first-child {
        margin-right: 0;
        order: 1;
        @include medium {
          margin-bottom: 30px;
        }
      }
      &:last-child {
        order: 2;
        max-width: 525px;
      }
      @include medium {
        display: flex;
        flex-direction: column;
        // align-items: center;
        max-width: 100% !important;
        margin: 0;
        padding: 0 20px;
      }
    }
    @include tablets {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &--noflef {
    display: block;
    position: relative;
    h3 {
      margin-bottom: 30px;
    }
    p {
      margin-top: 0;
    }
  }

  &:not(:first-child) {
    display: flex;
    margin-top: 75px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  .attorneys-menu-wrapper {
    height: 100%;
    padding-bottom: 2rem;
  }
  .attorneys-menu {
    position: sticky;
    top: 140px;
    &__item {
      @include medium {
        margin-right: 1rem;
      }
      a {
        font-family: $bold;
        font-weight: bold;
        font-size: $fz - 2;
        line-height: $fz + 2;
        letter-spacing: 0.01em;
        @include phones {
          font-size: 14px;
        }
      }
      &:not(:nth-child(2n)) {
        @include phones {
          margin-left: 0;
          padding-right: 10px;
        }
      }

      //.mPS2id-clicked,
      .mPS2id-highlight-first {
        color: #777a7c;
        opacity: 0.5;
      }
      .mPS2id-clicked,
      &:hover {
        a {
          color: #777a7c;
          opacity: 0.5;
        }
      }

      &:not(:last-child) {
        margin-bottom: 24px;
        @include medium {
          margin-bottom: 0;
        }
      }
    }
    @include medium {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      order: 2;
      margin-top: 20px;
      margin-bottom: 0;
    }
    @include phones {
      margin-bottom: 0;
      justify-content: flex-start;
    }
  }
}
// .card-user__row {
//     @include medium {
//         flex-direction: column;
//     }
// }
