extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/footer/footer.component.pug

block title
    title Page title
block page-content
    .main
        +header({
            inner: true
        })
        +hero({
            inner: true,
            title: "Page not found 404",
            pagination: {
            links: [
                'Home',
            ],
            last: '404'
        },
        })
