mixin careers-block(data)
    .careers-block
        .container
            .careers-block__row
                .careers-block__col
                    h2 Belvedere Legal is Hiring
                    p Belvedere Legal offers law students, practicing lawyers and other professionals the opportunity to apply their time and talents toward resolving important and challenging legal matters on today’s legal stage, working with a shared commitment to client service, the legal profession, and community support.
                    p Please see below for a list of available positions:
                    a(href="/") Removal Defense Staff Attorney
                    a(href="/") Administrative Assistant
                    a(href="/") Staff Attorney
                    a(href="/") Service Worker (DOJ Accredited Representative)
                .careers-block__col
                    +info-block({
                        careers: true,
                        title: "How to Apply?",
                        class: "info-block--blue info-block--careers",
                        content: true
                    })