.careers-block {
  padding-bottom: 109px;
  @include medium {
    padding-bottom: 40px;
  }
  .info-block {
    @media screen and(max-width: 1400px) {
      min-width: initial;
    }
    @include tablets {
      min-width: initial;
    }
  }
  .container {
    @media screen and(max-width: 1400px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.careers-block__row {
  display: flex;
  justify-content: space-between;
  @include medium {
    flex-wrap: wrap;
  }
}
.careers-block__col {
  &:first-child {
    max-width: 48.22%;
    @include medium {
      max-width: 100%;
    }
    p {
      font-family: $regular;
      font-size: $fz;
      line-height: $fz + 12;
      color: $c-text;
    }
    a {
      display: block;
      font-family: $bold;
      font-weight: bold;
      font-size: $fz;
      line-height: $fz + 12;
      color: $c-blue;
      &:hover {
        color: $c-hover;
      }
    }
  }
  &:last-child {
    max-width: 45.7%;
    @include medium {
      margin-top: 20px;
      max-width: 100%;
    }
  }
}
