.info-block {
    background-color: $white;
    @include phones {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (min-width: $medium) {
        padding: 102px 80px;
    }

    @media (min-width: 1200px) {
        padding: 102px 105px;
    }

    padding: 20px;
    border: 1px solid $c-lightgray;
    box-sizing: border-box;
    width: 100%;
    h3 {
        margin-bottom: 0px;
    }
    &--blue {
        border: none;
        padding: 50px 64px 45px;
        background: $c-lightBlue;
        @include phones {
            padding-top: 20px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &--vertical {
        padding: 40px 42px 49px 48px;

        .info-block__row {
            flex-direction: column;
            // padding: 0;
        }

        h3 {
            margin-bottom: 0;
        }

        .info-block__col {
            padding-left: 0 !important;
            justify-content: start;

            .btn {
                margin: 64px 0 0 !important;
            }
        }

        @include medium {
            padding: 20px;
        }
    }

    &--careers {
        min-width: 536px;
        // max-height: 400px;
        overflow: hidden;
     
        h3 {
            margin-top: 0;
            line-height: 28px;
            font-size: 18px;
        }

       
        .info-block__col {
            p, a {        
                font-size: 16px;
                line-height: 28px;
                &:last-child {
                  margin-bottom: 0;
                }
            }
        }
    }
    a {
        :not(.btn) {
            font-size: 16px;
        }
    }
}

.info-block--careers {
    padding: 56px 48px 56px 56px;
    @include medium {
        padding: 20px;
    }
    .info-block__col {
        padding: 0 !important;
        h3 {
            margin-bottom: 16px;
        }
        p {
            font-size: 16px!important;
            line-height: 28px!important;
            &:nth-child(2) {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        a {
            font-size: $fz;
            font-size: $fz + 2;
        }
    }
}

.info-block__row {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    width: 100%;

    @include medium {
        flex-wrap: wrap;
        justify-content: center;
    }
    .info-block__col {
        p {
            font-size: 18px;
            line-height: 30px;
        }
    }

}

.info-block__col {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: $medium) {
        // justify-content: space-between;
    }

    &:first-child {
        // max-width: 690px;
        display: flex;
        flex-direction: column;
    }

    &:last-child {
        padding-left: 40px;
        max-width: 450px;

        .btn {
            text-align: center;
            margin: 0 auto;

            @include medium {
                margin-top: 24px;
                margin-left: 0;
            }
        }

        @include medium {
            padding-left: 0;
            max-width: 100%;
        }
    }

}