mixin info-block(data)
    if data.careers
        .info-block(class=`${data.class ? data.class : ''}`)
            .info-block__container
                .info-block__row
                    .info-block__col
                        if data.title
                            h3= data.title
                        p Interested individuals may contact the firm at:
                        a(href="mailto:info@belvederelegal.com") info@belvederelegal.com 
                        p Please include the title of the job in the subject line
                        p We offer a variety of full-time, part-time and per-diem employment opportunities. Employees earn competitive salaries and have the flexibility to choose a benefits package suitable to their own needs and lifestyle.

    else
        .info-block(class=`${data.class ? data.class : ''}`)
            .info-block__container
                .info-block__row
                    .info-block__col
                        if data.title
                            h3= data.title
                        if data.content
                            p Call 
                                a(href="tel:+14155135980") 415-513-5980 
                                |  to set up your consultation with our bankruptcy attorneys or click the button for a free, initial consultation.
                        else
                            p When you need the help of an experienced and knowledgeable attorney to assist you with your financial issue, the Belvedere Legal can help. To schedule a consultation, call us at 
                                a(href="tel:+14155135980") 415-513-5980 
                                | or click Schedule Free Consultation button.

                    .info-block__col
                        a.btn.btn--tilda(href="/")
                            span Schedule Free Consultation
                            span.tilda ～