.content-cards {
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
  &--blog-preview {
    h2 {
      font-family: $bold;
      font-weight: bold;
      font-size: $fz-h2 - 8;
      margin-top: 0;
      line-height: $fz-h2 + 2;
      margin-bottom: 0;
    }
    .content-cards__item {
      width: 49%;
      box-shadow: -23px -19px 24px -12px rgba(0, 0, 0, 0.1);
      @include medium {
        width: 100%;
      }
      &:hover {
        // height: auto;
      }
    }
    .content-cards__arrow {
      width: 55px;
      &:after {
        content: '';
        height: 8px;
        width: 8px;
        top: -5px;
      }
    }
  }
  &--perspectives {
    .content-cards__item {
      &-big {
        height: 655px;
        @include medium {
          height: auto;
        }
      }
    }
  }
}

.content-cards__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-grid {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
    @include medium {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .content-cards__grid-col {
      width: 49%;
      display: flex;
      flex-direction: column;
      @include medium {
        width: 100%;
      }
    }
  }
  @include medium {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &:nth-child(2) {
    margin-top: 20px;
  }
  &--line {
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 45px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  &--title {
    @include medium {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include tablets {
      align-items: baseline;
      flex-direction: column;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}

.content-cards__item-title {
  display: block;
  font-family: $bold;
  font-weight: bold;
  font-size: $fz + 2;
  line-height: $fz + 12;
  color: $c-dark;
  margin-bottom: 12px;
}

.content-cards__item-subtitle {
  font-size: $fz - 2;
  line-height: $fz + 8;
  color: $c-text;
  display: block;
  font-family: $regular;
  margin-bottom: 12px;
}

.content-cards__item {
  width: 100%;
  // max-width: 48%;
  display: block;
  height: 315px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: -15px 5px 24px -12px rgba(0, 0, 0, 0.1);

  @include medium {
    max-width: 100%;
    // box-shadow: none;
  }
  @include phones {
    height: auto;
    min-height: auto;
    .content-cards__item-text {
      position: relative;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  img {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    // height: 655px;
    z-index: 2;

    .content-cards__item-title {
      color: $c-blue;
    }

    .content-cards__arrow {
      opacity: 1;
      left: initial;
    }

    img {
      transform: scale(1.1);
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none;
      /* IE 6-9 */
    }
  }
}

.content-cards__item-text {
  min-height: 252px;
  max-width: 350px;
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $white;
}

.content-cards__img {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
  }

  @include phones {
    display: none;
  }
}

.content-cards__item-category,
.content-cards__item-date {
  font-size: 14px;
  display: block;
  line-height: 24px;
  color: $c-text;
  opacity: 0.5;
  font-family: $regular;
}

.content-cards__item-category {
  display: flex;
  font-family: $regular;

  span {
  }

  .content-cards__item-separator {
    margin: 0 10px;
  }
}

.content-cards__item-date {
}

.content-cards__arrow {
  border: 1px solid #fff;
  background-color: #fff;
  position: absolute;
  display: block;
  z-index: 1;
  width: 64px;
  bottom: 55px;
  right: 40px;
  opacity: 0;
  left: -100%;
  transition: all 0.5s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    height: 10px;
    width: 10px;
    top: -6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    z-index: 11;
  }
}
.content-cards__item--left {
  margin-left: auto;
}
.content-cards__item--right {
  margin-right: auto;
}
