mixin content-cards(data)
    if data.blog
        .content-cards.content-cards--blog-preview
            -
                var obj = [
                    {title: "What Are the Differences Between an Adversary Procedure and a Contested Matter?" , subtitle: "Learn about secured, unsecured, and priority debts in bankruptcy."},
                    {title: "Types of Creditor Claims in Bankruptcy: Secured, Unsecured & Priority" , subtitle: "Learn about secured, unsecured, and priority debts in bankruptcy."},
                    ];
            .container
                .content-cards__row.content-cards__row--title
                    h2 You May Also Like
                    a.link.link__icon.uppercase(href="/")
                        picture
                            img(src="assets/img/arrow-small.svg", alt="Icon")
                        span Blog Home
                .content-cards__row
                    each item in obj
                        a.content-cards__item(href="/")
                            picture.content-cards__img
                                img(data-src="assets/img/image.jpg", alt="Img")
                            span.content-cards__item-text
                                span.content-cards__item-title= item.title
                                span.content-cards__item-subtitle= item.subtitle
                                span.content-cards__item-category
                                    span Consumer Bankruptcy
                                    .content-cards__item-separator |
                                    span Article
                                span.content-cards__item-date May 18, 2020
                            span.content-cards__arrow
    else
        .content-cards.content-cards--perspectives
            -
                var obj = [
                    {title: "What Are the Differences Between an Adversary Procedure and a Contested Matter?" , subtitle: "Learn about secured, unsecured, and priority debts in bankruptcy."},
                    {title: "Types of Creditor Claims in Bankruptcy: Secured, Unsecured & Priority" , subtitle: "Learn about secured, unsecured, and priority debts in bankruptcy."}];
                obj2 = [ 
                    {title: "Bankruptcy Case: Dismissed Without Prejudice" , subtitle: "If the court dismisses your Chapter 7 or Chapter 13 bankruptcy case without prejudice, you can refile your case right away."},
                    {title: "Types of Creditor Claims in Bankruptcy: Secured, Unsecured & Priority" , subtitle: "Learn about secured, unsecured, and priority debts in bankruptcy."},
                    {title: "Bankruptcy Case: Dismissed Without Prejudice" , subtitle: "If the court dismisses your Chapter 7 or Chapter 13 bankruptcy case without prejudice, you can refile your case right away."}];
            .container
                .content-cards__row-grid
                    .content-cards__grid-col
                        each item,key in obj
                            if key == 1
                                a.content-cards__item(href="/")
                                    picture.content-cards__img
                                        img(data-src="assets/img/image.jpg", alt="Img")
                                    span.content-cards__item-text
                                        span.content-cards__item-title= item.title
                                        span.content-cards__item-subtitle= item.subtitle
                                        span.content-cards__item-category
                                            span Consumer Bankruptcy
                                            .content-cards__item-separator |
                                            span Article
                                        span.content-cards__item-date May 18, 2020
                            else
                                a.content-cards__item.content-cards__item-big(href="/")
                                    picture.content-cards__img
                                        img(data-src="assets/img/image.jpg", alt="Img")
                                    span.content-cards__item-text
                                        span.content-cards__item-title= item.title
                                        span.content-cards__item-subtitle= item.subtitle
                                        span.content-cards__item-category
                                            span Consumer Bankruptcy
                                            .content-cards__item-separator |
                                            span Article
                                        span.content-cards__item-date May 18, 2020

                    .content-cards__grid-col
                        each item in obj2
                            a.content-cards__item(href="/")
                                picture.content-cards__img
                                    img(data-src="assets/img/image.jpg", alt="Img")
                                span.content-cards__item-text
                                    span.content-cards__item-title= item.title
                                    span.content-cards__item-subtitle= item.subtitle
                                    span.content-cards__item-category
                                        span Consumer Bankruptcy
                                        .content-cards__item-separator |
                                        span Article
                                    span.content-cards__item-date May 18, 2020
                                span.content-cards__arrow
                .content-cards__row
                    a.btn.btn--tilda.testimonials-block__btn-bottom(href="/")
                        span Load More
                        span.tilda ～
            