extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/why-choose-us-block/why-choose-us-block.component.pug
include ../../components/practic-description/practic-description.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/content-block/content-block.component.pug
include ../../components/info-block/info-block.component.pug
include ../../components/info-block/info-block.component.pug
include ../../components/practic-description/practic-description.component.pug

block title
    title practice-area-inner title
block page-content
    main.main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: true,
            video: false,
            title: "Business and Commercial Litigation",
            subtitle: "Lean on us to solve your business and commercial litigation challenges",
            pagination: {
            links: [
                'Home',
                'Practice Areas',
            ],
            last: 'Business and Commercial Litigation'
        }
        })
        +content-block({
            template: false
        })
        +practic-description({
            home: false,
            practicAreaInner: true
        })
        +contact-us-block({
            contact: false
        })
block footer