extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
//- include ../../components/why-choose-us-block/why-choose-us-block.component.pug
include ../../components/practic-description/practic-description.component.pug
include ../../components/review-block/review-block.component.pug
include ../../components/description-block/description-block.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/info-block/info-block.component.pug

block title
    block title
    title advanteges title
block page-content
    main.main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: true,
            video: false,
            title: "Advantages of a Boutique Firm",
                pagination: {
            links: [
                'Home',
            ],
            last: 'Advantages of a Boutique Firm'
        }
        })
        +practic-description({
            advanteges: true,
            class: "practic-description__white"
        })
        +review-block
        +contact-us-block({
            contact: false
        })