extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/why-choose-us-block/why-choose-us-block.component.pug
include ../../components/practic-description/practic-description.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/content-cards/content-cards.component.pug
include ../../components/preview-articles/preview-articles.component.pug
include ../../components/info-block/info-block.component.pug

block title
    title perspectives title
block page-content
    main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: false,
            video: false,
            perspectives: true,
            title: "Perspectives",
            pagination: {
            links: [
                'Home',
            ],
            last: 'Perspectives'
        }
        })
        +content-cards({
            blog: false
        })
        +preview-articles
        +contact-us-block({
            contact: false
        })