extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/content-block/content-block.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug

include ../../components/footer/footer.component.pug

block title
    title Page title
block page-content
    .main
        +header({
            inner: true
        })
        +hero({
            inner: true,
            title: "Template",
            pagination: {
            links: [
                'Home',
            ],
                last: 'Template'
            },
        })
        +content-block({
            template: true
        })