extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/content-block/content-block.component.pug

include ../../components/footer/footer.component.pug

block title
    title Page title
block page-content
    .main
        +header({
            inner: true
        })
        +hero({
            inner: true,
            title: "Client Portal",
            pagination: {
            links: [
                'Home',
            ],
                last: 'Client-Portal'
            },
        })
        +content-block({
            portal: true,
        })
