.iconbox {
  background-color: $c-dark;
  padding: 60px 0 88px;
  z-index: 0;
  // transform: translateY(-60px);

  &__inner {
    display: flex;
    @include medium {
      flex-wrap: wrap;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__item {
    display: flex;
    margin: 0;
    width: 100%;
    max-width: 312px;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: column;

    &:not(:last-child) {
      padding: 0 15px;
    }

    @include medium {
      width: 50%;
      max-width: initial;
      margin-bottom: 40px;
    }
    @include phones {
      width: 100%;
    }

    @media (min-width: $medium) {
      &:not(:first-child) {
        margin-left: 44px;
      }
    }
  }

  &__img {
    height: 70px;
    margin-bottom: 24px;
  }
}

p.iconbox__item-text {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz - 2;
  line-height: $fz + 2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
