mixin iconbox(data)
    -
        var obj = [
            {icon: "assets/img/icon1.svg", text: "We have recovered hundreds of millions of dollars for our clients "},
            {icon: "assets/img/icon2.svg", text: "Our reputation among judges, our fellow lawyers, and clients is impeccable"},
            {icon: "assets/img/icon3.svg", text: "We represent both debtors and creditors & know how to win your case"},
            {icon: "assets/img/icon4.svg", text: "We understands how civil cases are tried under California’s Unfair Competition Laws"}
            ];
    .iconbox
        .iconbox__inner.container
            each  item,key in obj
                .iconbox__item
                    picture.iconbox__img
                        img(src=item.icon, alt="Icon")
                    p.iconbox__item-text= item.text
