extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/why-choose-us-block/why-choose-us-block.component.pug
include ../../components/practic-description/practic-description.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/info-block/info-block.component.pug

block title
    title Page Practice Areas

block page-content
    main.main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: true,
            video: false,
            title: "Practice Areas",
             pagination: {
            links: [
                'Home',
            ],
            last: 'Practice Areas'
        },
            subtitle: "Whether the issue is property or liberty, the firm will find the most efficient path to get you to your destination"
        })

            //- block inner
        +practic-description({
            practicArea: true,
            class: "practic-description__white"
        })
        +contact-us-block({
            contact: false
        })
block footer

