extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/attorneys/attorneys.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug


block title
    title Attorneys title
block page-content
    main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: true,
            video: false,
            perspectives: false,
            title: "Attorneys",
            pagination: {
            links: [
                'Home',
            ],
            last: 'Attorneys'
        }
        })
        +attorneys
        +contact-us-block({
            contact: false
        })