extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/careers-block/careers-block.component.pug
include ../../components/info-block/info-block.component.pug
include ../../components/practic-description/practic-description.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug

block title
    title careers title
block page-content
    main.main
        +header({
            inner: true
        })
        +hero({
            home: false,
            inner: true,
            video: false,
            title: "Careers",
                pagination: {
            links: [
                'Home',
            ],
            last: 'Careers'
        }
        })
        +careers-block
        +practic-description({
            advanteges: true,
            class: "practic-description__white"
        })
        +contact-us-block({
            contact: false
        })
