mixin preview-articles(data)
    .preview-articles
        .container
            -
                var obj = [
                    {title:"COVID-19: new French legislation impacts lenders’ recovery rights in the short term", category: "Consumer Bankruptcy | Article "},
                    {title:"India rescinds exemptions to hydroxychloroquine export restrictions and increases...", category: "Consumer Bankruptcy | Article "},
                    {title:"Attending a virtual trial before the London High Court: experience and practical tips", category: "Consumer Bankruptcy | Article "},
                    {title:"The National Advertising Division introduces its SWIFT resolution process", category: "Consumer Bankruptcy | Article "},
                    {title:"SEC obtains preliminary injunctive relief against Telegram’s $1.7 billion token sale", category: "Consumer Bankruptcy | Article "},
                    {title:"National Guard members are protected under USERRA – What employers need to know about employees...", category: "Consumer Bankruptcy | Article "},
                    {title:"Illinois insights from Reed Smith’s COVID-19 State Tax webinar", category: "Consumer Bankruptcy | Article "},
                    {title:"Georgia’s Shelter-in-Place Order imposes new restrictions in an effort to slow the spread of COVID-19", category: "Consumer Bankruptcy | Article "},
                ];
            h2.h2.preview-articles__title Belvedere Insights
            .preview-articles__row
                each item in obj
                    .preview-articles__item
                        a.preview-articles__item-title(href="/")= item.title
                        .preview-articles__item-category= item.category
            .preview-articles__row
                a.btn.btn--tilda(href="/")
                    span View more
                    span.tilda ～
