.preview-articles {
  padding-top: 70px;
  background: #f5f9fb;
  padding-bottom: 120px;
}
.preview-articles__title {
  margin-bottom: 45px;
}
.preview-articles__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &:first-child {
    @include medium {
      justify-content: space-between;
    }
  }
}
.preview-articles__item {
  margin-bottom: 24px;
  min-height: 100px;
  width: 100%;
  max-width: 49%;
  @include medium {
    max-width: 100%;
  }
}
.preview-articles__item-title {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz + 8;
  line-height: $fz + 12;
  color: #3a6eaa;
}
.preview-articles__item-category {
  font-family: $regular;
  font-size: $fz - 2;
  line-height: $fz + 8;
  color: #777a7c;
}
