mixin review-block(data)
    .review-block
        .container
            .review-block__row
                .review-block__col
                    p Our absolute commitment to clients and their effective representation has been our guiding principle from the beginning of the firm through the present day.
                    p Our client satisfaction scores are high, and favorable reviews of the firm are posted throughout the Internet. We continue to encourage clients to post reviews using online social media.
                    p To learn more about why we are leading bankruptcy and commercial litigation law firm, based in the San Francisco Bay Area, click the logos.
                .review-block__col
                    .review-block__slider
                        .review-block__slider-title client’s reviews
                        .swiper-container.review-block__slider-js
                            .swiper-wrapper
                                .swiper-slide
                                    .wrapper-reviews__rating
                                        picture.reviews__rating-img
                                            img(data-src="assets/img/google.svg", alt="Google")
                                        .reviews__rating(data-rating="2")
                                            //- span
                                .swiper-slide
                                    .wrapper-reviews__rating
                                        picture.reviews__rating-img
                                            img(data-src="assets/img/facebook.svg", alt="facebook")
                                    .reviews__rating(data-rating="5")
                                        //- span
                                .swiper-slide
                                    .wrapper-reviews__rating
                                        picture.reviews__rating-img
                                            img(data-src="assets/img/yelp.svg", alt="yelp")
                                    .reviews__rating(data-rating="4")
                                        //- span
