@import '../../../node_modules//swiper/dist/css/swiper.css';
@import '../../../node_modules/jquery.rateit/scripts/rateit.css';

.review-block {
  background-color: #f8f8f8;
  padding: 110px 0px 125px 0px;
  .container {
    max-width: 1140px;
    @include phones {
      max-width: 100%;
    }
  }
  @include medium {
    padding: 40px 15px;
    .container {
      padding: 0;
    }
  }
  @include phones {
    padding: 10px;
  }
}

.review-block__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include medium {
    flex-direction: column;
    align-items: flex-start;
  }
}
.review-block__col {
  p {
    font-family: $regular;
    font-size: $fz;
    line-height: $fz + 12;
    color: $c-dark;
  }
  &:first-child {
    width: 100%;
    max-width: 425px;
  }
  &:last-child {
    width: 100%;
    max-width: 590px;
    align-items: center;
  }
  @include medium {
    &:last-child {
      margin-top: 20px;
    }
    max-width: 90% !important;
  }
  @include phones {
    max-width: 100% !important;
  }
}
.review-block__slider {
  @media screen and(max-width: 1100px) {
    padding-left: 20px;
  }
  @include medium {
    padding-left: 0;
    margin-left: 10px;
  }
  @include phones {
    margin-left: 0;
  }
}
.review-block__slider-title {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz - 2;
  line-height: $fz + 2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $c-text;
  margin-bottom: 25px;
}
.reviews__rating {
  display: flex;
  align-items: center;
  span {
    padding-left: 10px;
  }
  i {
    margin: 0 2px;
    font-size: 12px;
    color: #f3b209;
  }
}
.reviews__rating-img {
  width: 156px;
  height: 55px;
  padding: 2px;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  img {
    // width: 100%;
    // height: 100%;
    object-fit: cover;
  }
}
.wrapper-reviews__rating {
  display: flex;
  flex-direction: column;
}
