extends ../../helpers/markup/layout.pug
include ../../components/header/header.component.pug
include ../../components/hero/hero.component.pug
include ../../components/description-block/description-block.component.pug
include ../../components/practic-description/practic-description.component.pug
include ../../components/info-block/info-block.component.pug
include ../../components/list-content-block/list-content-block.component.pug
include ../../components/iconbox/iconbox.component.pug
include ../../components/case-studies/case-studies.component.pug
include ../../components/testimonials-block/testimonials-block.component.pug
include ../../components/contact-us-block/contact-us-block.component.pug
include ../../components/why-choose-us-block/why-choose-us-block.component.pug


block title
    title Page Home

block page-content
    main.main
        +hero({
            home: true,
            video: true,
        })
        +iconbox
        +description-block
        +practic-description({
            home: true
        })
        +case-studies({
            clients: false
        })
        +testimonials-block
        +contact-us-block({
            contact: false
        })
block footer

