mixin practic-description(data)
    if data.home
        section.practic-description
            h2.title-icon.text-center
                picture.icon-title
                    img(src="assets/img/dark-tilda.svg", alt="Icon")
                span Whether the issue is property or liberty, the firm will find the most efficient path to get you to your destination.
            .container
                +info-block({
                    class: "",
                    btn: "Schedule Free Consultation"
                })
            picture.practic-description__bg
                img( class="parallax-window" data-parallax="scroll" data-image-src="assets/img/img-1.jpg",  alt="Img")
            .w-practic-description__bg
                +list-content-block({
                    top: true
                })
    if data.practicArea
        section.practic-description.practic-description__practice-area
            picture.practic-description__bg
                img(src="assets/img/img-2.jpg", alt="")
            +list-content-block({
                top: false,
                bottom: true
            })
            .practic-description__wrap-infoblock.container
                +info-block({
                    title: "Advantages of a Boutique Law Firm",
                    btn: "Why Choose Us?",
                    class: ""
                })
            picture.practic-description__bg
                img(data-src="assets/img/bg-practic.jpg", alt="")
    if data.practicAreaInner
        section.practic-description.practic-description__practice-area.practic-description__practice-area-inner
            picture.practic-description__bg
                img(src="assets/img/img-2.jpg", alt="")
            +list-content-block({
                top: false,
                bottom: false,
                inner: true
            })
    if data.advanteges
        section.practic-description.practic-description__careers
            picture.practic-description__careers-bg
                img(src="assets/img/attorneys-inner.jpg", alt="")
            +list-content-block({
                careers: true,
                class: 'list-content-block--careers'
            })