.practic-description {
  overflow-y: hidden;
  margin-top: 140px;
  position: relative;
  h2 {
    max-width: 1075px;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
  .title-icon.text-center + .container {
    padding-left: 0;
    padding-right: 0;
  }
  .list-content-block {
    .list-block {
      justify-content: space-between;
    }
    .list-block__item a {
      text-transform: inherit;
      &:hover {
        .list-block__item-title,
        picture {
          opacity: 0.7;
        }
      }
    }
  }

  .info-block {
    margin-top: 100px;
    padding: 85px 60px 85px 90px;
    @include medium {
      padding: 0;
      margin-top: 50px;
      padding-top: 45px;
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding-bottom: 50px;
    }
    @include medium {
      padding-right: 26px;
      padding-left: 26px;
      text-align-last: left;
    }
  }
  .container {
    @media (max-width: $medium) {
      padding-left: 0;
      padding-right: 0;
    }
    @include phones {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include medium {
    margin-top: 0px;
    padding-top: 0;
  }
  &__practice-area {
    .practic-description__bg {
      img {
        @include medium {
          position: relative;
        }
      }
    }
    .list-content-block {
      // padding-bottom: 200px;
      margin: 180px 24px 0;
      @include medium {
        margin-top: 0;
      }
      @include phones {
        margin-left: 5px;
        margin-right: 5px;
      }
      .container {
        padding: 84px 84px;
        @include medium {
          padding: 40px 10px;
        }
      }
      .list-content-block__content-col {
        max-width: 538px;
        @include medium {
          max-width: 100%;
        }
        .list-block {
          display: flex;
          flex-direction: column;
          .list-block__item {
            width: 100%;
            margin-left: 0;
            @include medium {
              p {
                font-family: $regular;
                font-size: 18px;
                line-height: 30px;
                color: #777a7c;
              }
            }
          }
        }
        &:last-child {
          margin-left: 50px;
          @include medium {
            margin-left: 0;
          }
        }
      }
      .list-content-block__content-row {
        margin-bottom: 0;
        @include medium {
          padding-right: 0;
        }
        @include phones {
          h2 {
            font-size: 28px;
            margin-bottom: 0px !important;
          }
        }
      }
    }
    h4 {
      margin-top: 0;
    }
    margin-top: 0;
    min-height: 1336px;
    .practic-description__bg {
      &:first-child {
        position: static;
        height: auto;

        img {
          height: 300px;
          top: 0;
        }
        @include medium {
          position: relative;
        }
      }
      &:last-child {
        height: auto;
        position: static;
        img {
          height: 435px;
          width: 100%;
          top: initial;
          margin-bottom: 0;
          @include medium {
            position: absolute;
          }
        }
      }
    }

    .info-block {
      margin-top: 0;
      width: 100%;
      max-width: 784px;
      margin-right: auto;
      @include medium {
        max-width: 100%;
      }
      h3 {
        font-size: 32px;
        margin-bottom: 6px;
        @include medium {
          font-size: 24px;
        }
      }
      // margin-bottom: 149px;
    }
    .info-block__row {
      display: flex;
      flex-direction: column;
    }
  }
  &__white {
    background-color: $white;
  }
  &__advanteges {
    margin-top: 0;
    &-bg {
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .list-content-block {
      margin-top: 180px;
      .container {
        background-color: $white;
        position: relative;
        z-index: 1;
        @media screen and (min-width: $medium) {
          padding: 0;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        li:first-child {
          h3 {
            margin-top: 0;
          }
        }
      }
      .list-content-block__content-row {
        padding: 40px;
        justify-content: space-between;
        padding-bottom: 100px;
        margin-bottom: 0;
        padding: 80px 63px 115px 112px;
        @include phones {
          padding-bottom: 60px;
        }
        @media screen and(max-width: 1300px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        p {
          font-family: $regular;
          color: $c-text;
          font-size: $fz;
          line-height: $fz + 12;
        }
      }
      .list-content-block__content-col {
        width: 47%;
        padding-right: 0;
        &:last-child {
          width: 40%;
        }
        @include medium {
          width: 100% !important;
          &:first-child {
            order: 2;
          }
          &:last-child {
            margin-top: 20px;
            order: 1;
          }
        }
      }
      .description-block {
        padding-top: 0;
      }
      .description-block__user-img {
        display: flex;
        img {
          width: 425px;
          max-height: 545px;
          margin-bottom: 55px;
          @media screen and(max-width: 1140px) {
            width: 100%;
          }
          @include medium {
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &__careers {
    margin-top: 0;
    position: relative;
    .practic-description__careers-bg {
      img {
        top: 0;
        width: 100%;
        height: 605px;
        object-fit: cover;
        object-position: center;
        position: absolute;
        z-index: -1;
      }
    }
  }
}

.w-practic-description__bg {
  .list-content-block {
    right: 0;
    left: 0;
    margin-top: 191px;
    @include medium {
      margin-top: 0;
    }
  }
}
.practic-description__bg {
  height: 100%;
  height: 916px;
  width: 100%;
  display: block;
  position: absolute;
  > img {
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
    bottom: 0;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  @include tablets {
    position: relative;
    height: 375px;
    overflow: hidden;
    img {
      position: relative;
      top: 0;
    }
  }
}
.practic-description__wrap-infoblock {
  padding-left: 0;
  padding-right: 0;
  transform: translateY(-125px);
  .info-block {
    border: none;
    // padding-top: 0;
    @media screen and (max-width: 1360px) {
      width: 95%;
      margin-left: 23px;
      // margin: 0 auto;
      // margin: 0 auto;
      // margin-left: 24px;
      // margin-right: 24px;
    }
    @include tablets {
      width: 95%;
      margin: 0 auto;
    }
    @include phones {
      width: 93%;
      margin: 0 auto;
    }
  }
  .info-block__row {
    justify-content: start;
    .info-block__col {
      padding: 0;
      &:last-child {
        margin-left: 0;
        padding-left: 0;
        margin-right: auto;
        justify-content: start;
      }
      .btn {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}
.practic-description__practice-area-inner {
  min-height: auto;
  .list-content-block {
    padding-bottom: 0;
  }
  .list-content-block__content-row > h2 {
    font-size: 40px;
    line-height: 56px;
    margin: 0;
    margin-bottom: 48px !important;
    margin-right: auto;
    text-align: left;
  }
}
