@import "../../../node_modules/jquery.rateit/scripts/rateit.css";

.client-testimonials {
  background-color: #f8f8f8;
  padding: 104px 0 130px;
  @include medium {
    padding: 50px 0;
  }
  &--content {
    margin-bottom: 24px;
    // overflow-y: auto;
  }
  &__item {
    width: calc(50% - 12px);
    overflow: hidden;
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;
    padding: 56px 48px 56px 48px;
    min-height: 100px;
    @include medium {
      width: 100%;
      height: auto;
    }
    @include phones {
      padding: 35px 20px;
    }

    &:nth-child(6n) {
      min-height: 565px;
      @media screen and(max-width: 1180px) {
        min-height: auto;
      }
    }
    // &:nth-child(2n) {
    //     margin-left: 20px;
    // }
    &-inner {
      position: relative;
      padding: 56px 48px 56px 48px;
    }
    .wrapper-reviews__rating {
      margin-bottom: 28px;
    }
    p {
      margin-bottom: 0;
      margin-top: 0;
      font-family: $regular;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .user {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  @media screen and(max-width: 1180px) {
    min-height: auto;
  }
}
.client-testimonials__row {
  display: flex;
  width: 100%;
  //align-items: flex-start;
  flex-wrap: wrap;

  justify-content: space-between;
  // flex-direction: column;
  @include medium {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.client-testimonials__col {
  width: 49%;
  @include medium {
    width: 100%;
  }
  &:first-child {
    .client-testimonials__item {
      &:first-child {
        min-height: 560px;
        @media screen and(max-width: 1180px) {
          min-height: auto;
        }

        @include medium {
          height: auto;
        }
      }
      &:nth-child(4n) {
        min-height: 560px;
        @media screen and(max-width: 1180px) {
          min-height: auto;
        }

        @include medium {
          height: auto;
        }
      }
    }
  }
  &:last-child {
    margin-left: 1.8%;
    @include medium {
      margin-left: 0;
    }
    .client-testimonials__item:nth-child(3n + 3) {
      min-height: 560px;
      @media screen and(max-width: 1180px) {
        min-height: auto;
      }

      @include medium {
        height: auto;
      }
    }
  }
}
.client-testimonials .btn {
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  @include medium {
    margin-top: 25px;
  }
}
// .persent-size {
//     @media screen and (max-width: 1270px) {
//         width: 100%;
//     }
// }
.client-testimonials--content {
  flex-grow: 1;
  &::-webkit-scrollbar {
    width: 0.3em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}
