mixin client-testimonials(data)
    .client-testimonials
        .container
            h2.h2.text-center Client Testimonials
            .client-testimonials__row
                -
                    var arr = [
                        { rating: 3,desc: "I have worked with & been a client of more attorneys than I can count during my adult life. Mr. Metzger stands out among the very finest. You get a sense during the initial consult that he cares and understands the issues at hand and your predicament. He patiently explains (in honest to God English, no less!) the process about your prospective case. Once retained Mr. Metzger proved to know a complicated process inside out; he filed documents in a timely manner; I never felt as if my case was at sea. He kept me up on what to expect. There was always a sense that he had my back. His execution proved this sense a reality. During the final meeting with the administrator, he was a settling presence. I knew what to expect, and when. He had the respect of the administrator and all went swimmingly. Mr. Metzger was/is worth every penny!",name:"John, Chapter 7 Client"},
                        { rating: 4,desc: "Matt handled my case with true professionalism. It was the lowest point in my life and he changed everything to the the positive. I'm in the real estate market and I'll recommend him to any of my clients or family. He is a truly talented attorney.",name:"Gabriel, Chapter 13 Client"},
                        { rating: 5,desc: "Matt handled my case with true professionalism. It was the lowest point in my life and he changed everything to the the positive. I'm in the real estate market and I'll recommend him to any of my clients or family. He is a truly talented attorney.",name:"Gabriel, Chapter 13 Client"}
                    ];
                -
                    var arr2 = [
                        { rating: 5,desc: "I have worked with & been a client of more attorneys than I can count during my adult life. Mr. Metzger stands out among the very finest. You get a sense during the initial consult that he cares and understands the issues at hand and your predicament. He patiently explains (in honest to God English, no less!) the process about your prospective case. Once retained Mr. Metzger proved to know a complicated process inside out; he filed documents in a timely manner; I never felt as if my case was at sea. He kept me up on what to expect. There was always a sense that he had my back. His execution proved this sense a reality. During the final meeting with the administrator, he was a settling presence. I knew what to expect, and when. He had the respect of the administrator and all went swimmingly. Mr. Metzger was/is worth every penny!",name:"John, Chapter 7 Client"},
                        { rating: 5,desc: "I have worked with & been a client of more attorneys than I can count during my adult life. Mr. Metzger stands out among the very finest. You get a sense during the initial consult that he cares and understands the issues at hand and your predicament. He patiently explains (in honest to God English, no less!) the process about your prospective case. Once retained Mr. Metzger proved to know a complicated process inside out; he filed documents in a timely manner; I never felt as if my case was at sea. He kept me up on what to expect. There was always a sense that he had my back. His execution proved this sense a reality. During the final meeting with the administrator, he was a settling presence. I knew what to expect, and when. He had the respect of the administrator and all went swimmingly. Mr. Metzger was/is worth every penny!",name:"John, Chapter 7 Client"},
                        { rating: 1,desc: "Matt handled my case with true professionalism. It was the lowest point in my life and he changed everything to the the positive. I'm in the real estate market and I'll recommend him to any of my clients or family. He is a truly talented attorney.",name:"John, Chapter 7 Client"}
                    ];
                //- .client-testimonials__col
                each item, key in arr
                    .client-testimonials__item
                        .wrapper-reviews__rating
                            //- .reviews__rating
                            .rateit(data-rateit-value="2.5" data-rateit-mode="font" )
                        .client-testimonials--content
                            p= item.desc
                        span.user
                            img(src="assets/img/ava.svg", alt="User")
                            span John, Chapter 7 Client
                //- .client-testimonials__col
                each item, key in arr2
                    .client-testimonials__item
                        .wrapper-reviews__rating
                            //- .reviews__rating
                            .rateit(data-rateit-value="2.5" data-rateit-mode="font" )
                        .client-testimonials--content
                            p= item.desc
                        span.user
                            img(src="assets/img/ava.svg", alt="User")
                            span John, Chapter 7 Client
            a.btn.btn--tilda(href="/")
                span Load More Testimonials
                span.tilda ～
