.description-block {
    padding-top: 110px;

    @include medium {
        padding-top: 0;
        .container {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    @include medium {
        min-height: 300px;
    }
}

.description-block__row {
    display: flex;
    align-items: flex-start;
    &-column {}

    h2 {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .link__icon {
        margin-top: 50px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        // {

        //  }
    }

    @include medium {
        flex-direction: column;
        transform: translateY(-90px);
    }
   
}

.description-block__user {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 465px;

    &-title {
        margin-bottom: 32px;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    @include medium {
        max-width: 100%;
    }

}

.description-block__user-img {
    margin-bottom: 35px;
    height: 550px;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @include phones { 
            max-width: 95%;
        }
        @include medium {
            width: 100%;
            height: 100%;
            max-width: 363px;
            max-height: 543px;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }

    @include medium {
        width: 480px;
        height: 352px;
        margin: 0 auto;
        position: relative;
        
        img {
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
    @include tablets {
        width: auto;
        margin: 0;
        margin-right: auto;
        margin-bottom: 20px;
        height: auto;
        // img {
        //     max-height: 600px;
        // }
        
    }
    @include phones {
        img {
            max-width: 100%;
        }
    }

}

.description-block__user-title {
    position: relative;
    margin-bottom: 0;
    @include phones {
        margin-top: 20px;
    }
    picture {
        position: absolute;
        left: 0;
        top: -30px;
        z-index: 0;
    }

    span {
        z-index: 1;
        position: relative;
    }
}

.description-block__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &-row {
        width: 100%;
        margin-left: auto;
        max-width: 725px;
        padding-left: 20px;
        @include medium {
            padding-left: 0;
            margin: 0;
            // &:last-child {
               
            //     div:first-child {
            //         display: none;
            //     }
            // }
        }
        p:first-child {
            margin-top: 0;
        }
    }
    > .description-block__line {
        margin: 60px 0;
        @include medium {
            display: none;
        }
    }
}

.description-block__line {
    width: 100%;
    display: block;
    height: 1px;
    border-bottom: 1px solid $c-lightgray; 
}