mixin description-block(data)
  section.description-block
    .container
        .description-block__row
            .description-block__user
                picture.description-block__user-img
                    img(src="assets/img/user.jpg", alt="User")
                h3.description-block__user-title
                    span “Over the course of my career,  I have handled and settled hundreds of bankruptcy cases. I am fully committed to your case, no matter its size.”
                    picture
                        img(src="assets/img/brackets.svg", alt="img")
            .description-block__content
                .description-block__content-row
                    h2 A leading bankruptcy and commercial litigation law firm serving the San Francisco Bay Area.
                    p  As California bankruptcy-specific litigation lawyers, bankruptcy law is what we do. Our firm is dedicated to helping people on their business legal issues. We advise donec ac odio tempor orci dapibus ultrices in. 
                    p Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. At risus viverra adipiscing at in tellus integer feugiat scelerisque. 
                        a(href="/") Advantages of a Boutique Firm 
                        | aliquam faucibus purus in massa tempor nec.
                hr.description-block__line
                .description-block__content-row
                    div
                        p At Belvedere Legal, we have experience in every area of bankruptcy law in San Francisco including 
                            a(href="/") facilisis vel 
                            | ullamcorper es 
                            a(href="/") ullamcorper 
                            |  eget nulla facilisi etiam. At risus viverra at in adipiscing tellus integer feugiat scelerisque. Aliquam faucibus purus in massa tempor nec.
                        p At Belvedere Legal, it’s our job to make sure that you at risus viverra at in adipiscing tellus integer feugiat scelerisque.
                    a.link.link__icon(href="/")
                        picture
                            img(src="assets/img/arrow-small.svg", alt="Icon")
                        span Read Matthew's Story