.w-map-info {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  height: 700px;
  width: 100%;
  @include medium {
    flex-direction: column;
  }
  .container {
    position: relative;
    display: flex;
    margin: auto;
    pointer-events: none;
    z-index: 2;
  }
}
.map-block {
  position: absolute !important;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include medium {
    position: relative !important;
  }
}

.map-info {
  background-color: $white;
  min-width: 648px;
  max-width: 650px;
  min-height: 300px;
  padding: 56px 32px 52px 56px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  transform: translateX(-50%);
  @media screen and(max-width:1320px) {
    transform: translateX(-45%);
  }
  @media screen and(max-width:1250px) {
    transform: translateX(0);
    // left: 2%;
    margin-right: auto;
    margin-left: 20px;
  }
  @include medium {
    transform: none;
    min-width: 100%;
    max-width: 100%;
    min-height: auto;
    margin-right: 0;
    margin-left: 0;
    transform: none;
    padding-bottom: 40px;
  }
  @include phones {
    padding: 30px 20px;
  }
  h3 {
    margin-top: 0;
    font-family: $bold;
    font-weight: bold;
    font-size: $fz * 2;
    line-height: $fz * 2 + 12;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 8px;
    font-family: $bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    &:last-child {
      margin-top: 0;
    }
  }
  a {
    margin-bottom: 8px;
    font-family: $bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    &:hover {
      color: $c-hover;
    }
    @include phones {
      display: block;
    }
  }
}
