mixin map(data)
    section.w-map-info
        .map-block(data-key="AIzaSyDJWY1JJCf1b549Xo18GlTFd2XtmrhneBM", data-lat="39.615224", data-lng="-104.886612")
        .map-info
            .map-info__inner
                h3 Proudly Serving Clients in San Francisco Bay Area, California
                p How can we help you?
                p Call our office: 
                    a(href="+14155135980") (415) 513-5980