.top-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 105;
  text-align: center;
  font-size: 14px;
  background-color: lighten($c-dark, 10);
  color: #fff;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  a {
    font-size: inherit;
    text-decoration: underline;
    font-weight: inherit;
    color: $c-blue-2;
  }
  &__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    color: #fff;
    opacity: 0.8;
    transition: 0.2s ease-in;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0.25rem;
    @include phones {
      font-size: 1.5em;
    }
    &:hover {
      opacity: 1;
    }
  }
  @include phones {
    text-align: left;
    font-size: 12px;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
  }
}
