.w-hero .container {
  display: flex;
  // position: relative;
  max-width: 1470px;

  @include medium {
    flex-direction: column;
  }
}

.hero {
  width: 100%;
  display: flex;
  position: relative;
  transition: all 0.1s linear;
  @media (min-width: $medium) {
    min-height: 770px;
  }

  @include medium {
    flex-direction: column;
  }
}

.hero__inner {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  //    transition: all  11s linear;
  // justify-content: space-between;

  @include medium {
    padding-bottom: 150px;
    height: 100%;
  }

  @include tablets {
    padding-bottom: 40px;
    height: 100%;
  }

  @media screen and (min-width: $medium) {
    padding-left: 0;
    padding-right: 0;
  }
}

.open-menu {
  .header + .hero__inner {
    width: calc(100% - 210px);
    right: 0;
    // position: absolute;
    height: 100%;
    bottom: 0;
    top: 0;
    .hero__content {
      display: none;
    }
    @include medium {
      width: 100%;
    }
    @include phones {
      position: relative;
    }
    @media screen and (min-width: $medium) {
      width: 100%;
      height: 100%;
      position: static;
    }
  }
}
a,
button,
.hamburger,
arrow {
  &:hover {
    cursor: url(assets/img/cursor.png) 2 2, pointer;
  }
}

.hero p {
  font-family: $regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #777a7c;
}

.hero .btn {
  margin-top: 18px;
}

.hero .h1 {
  // text-style: "jumbo";

  @include phones {
    font-size: $fz-h1 - 24px;
    line-height: ($fz-h1 + 16) - 30px;
    color: $c-title;
  }
}

.hero p,
.hero .h1 {
  @media screen and (min-width: $phones) {
    color: $white;
  }
}

.hero .h5,
.hero .h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.hero__content {
  position: relative;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 100%;

  @media (min-width: $medium) {
    padding-top: 0px;
    width: 100%;
    margin: auto;
    max-width: 765px;
    padding-right: 0;
    margin-left: 77px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: 1024px) {
  }

  @include medium {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include tablets {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.hero__row {
  display: flex;
  justify-content: space-between;
  // background-color: $white;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    padding-left: 77px;
  }

  @media (min-width: $medium) {
    margin-right: 60px;
  }

  .btn {
    margin-top: 0;
    display: inline-flex;
    max-height: 57px;
  }

  picture {
    right: 0;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 648px;
    max-height: 377px;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $c-overlay;
      opacity: 0.2;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center center;
    }
  }
}

.hero__inner-wrapper {
  display: flex;
  height: 100%;
  @media screen and(max-width:  1200px) and (min-width: $medium) {
    flex-direction: column;
    .hero__content {
      order: 2;
      margin-left: 15px;
    }
    .hero__aside {
      order: 1;
    }
  }
}

.hero__aside {
  width: 100%;
  display: flex;
  justify-content: end;
  max-width: 280px;
  margin-left: auto;
  padding-top: 53px;
  display: flex;

  .personal-cabinet {
    height: 57px;
    display: flex;
    margin-right: 24px;
    // max-width: 536px;
    width: 100%;
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: flex-end;
  }

  .phone {
    color: $white;
    z-index: 1;
    opacity: 1;
  }

  .phone,
  .user {
    margin-right: 34px;
  }

  @include medium {
    display: none;
  }
}

.personal-cabinet {
  height: 57px;
  display: flex;
  margin-right: 24px;
  // max-width: 536px;
  width: 100%;
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: flex-end;
}

.phone {
  color: $white;
  z-index: 1;
  opacity: 1;
}

.phone,
.user {
  margin-right: 34px;
}

@include medium {
  display: none;
}

.form-search {
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  font-family: $ibm;
  margin-right: 20px;
  justify-content: space-between;

  input {
    border: none;
    display: none;
    opacity: 0;
    background: transparent;
    height: 100%;
    color: $white;

    &:focus {
      padding-right: 0;
      border: none;
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: $white;
  }
  &:hover,
  &:focus {
    padding: 0px 16px 0px 14px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    width: 100%;
    max-width: 315px;
    overflow: hidden;
    // background-color: $white;

    button {
      background: none;
      border: none;
      width: 24px;
      height: 24px;
      color: $c-blue;

      &:focus,
      :active,
      :visited,
      :hover {
        padding: 0;
        outline: none;
        border: none;
        color: $c-blue;
        background: transparent;
        // color: rgba(109, 106, 109, .5)
      }
    }

    input {
      color: $c-text;
      width: 100%;
      opacity: 1;
      background-color: none;
      display: block;
      z-index: 10;
      position: relative;
    }
  }
}

input:focus + button {
  color: $c-blue;
}

.white {
  background-color: $white;
}

.parentSerach-active {
  padding: 0px 16px 0px 14px;
  border: 1px solid #f0f0f0;
  width: 100%;
  max-width: 315px;
  background-color: $white;

  button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;

    &:focus,
    :active,
    :visited,
    :hover {
      padding: 0;
      outline: none;
      border: none;
    }
  }

  input {
    opacity: 1;
    display: block;
    color: $c-text;
  }
}

.personal-cabinet {
  $block: &;
  margin-right: 24px;
  transition: all 0.3s linear;
  cursor: url(assets/img/cursor.png) 2 2, pointer;
  position: relative;

  input[type='search']:hover {
    background-color: transparent;
  }

  input[type='search']:focus {
    width: 315px;
    padding: 0 16px;
    color: $c-text;
    background-color: $white;
    cursor: auto;
  }
}

.hero-inner {
  min-height: 250px;
  // padding-bottom: 77px;
  @include medium {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include medium {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container {
    display: flex;
    align-items: center;
  }
  &__bg {
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0px;
  }

  &--perspectives {
    padding: 49px 0;

    .hero-inner__row {
      h2 {
        margin-top: 16px;
      }
      max-width: 75%;
      @include medium {
        max-width: 100%;
      }
    }

    .content-cards {
      display: flex;
      flex-direction: row;
      padding: 0;

      * {
        color: $white;
      }

      .content-cards__item-date {
        margin-right: 30px;
      }
    }
  }
}

.hero-perspectives {
  min-height: 250px;
  display: flex;
  align-items: center;

  .hero-inner__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include medium {
      flex-direction: column;
    }
  }

  .form-horizontal {
    padding-left: 20px;
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    @include medium {
      display: flex;
      padding-left: 0;
      margin: auto;
      max-width: 100%;
      flex-wrap: nowrap;
      flex-direction: row !important;
      align-items: center;
      position: relative;
      justify-content: center;
    }
    @include medium {
      form {
        width: 100%;
        max-width: 500px;
      }
    }
  }
}

.hero__video-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  // will-change: transform;
  // transform: translate(100%, 100%);
  // transition: transform 1s cubic-bezier(.77,0,.175,1);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  @include phones {
    position: relative;
    width: 100%;
    height: 190px;
  }
}

.hero__video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: initial;
}

.hero__arrow {
  display: none;

  @include medium {
    display: inline-flex;
    margin-left: 40px;
    transform: translateY(20px);
  }
  @include phones {
    position: absolute;
    left: 250px;
  }
  //   height: 100%;
  //   max-height: 58px;
  //   overflow: hidden;
  //   position: relative;
  //   width: 16px;
  //   transition: all .3s ease-in-out;
  //   svg {
  //       margin: 0 auto;
  //       position: absolute;
  //       left: 0;
  //       right: 0;
  //       z-index: 111;
  //       bottom: 0;
  //       min-width: 16px;
  //       transition: all .3s ease-in-out;
  //       path {
  //         fill: #DADADA;
  //         stroke: #DADADA;
  //       }
  //   }
  //   &:hover  {
  //        svg {
  //            height: 38px;
  //        }
  //   }
  //   svg {
  //       height: 58px;
  //   }

  //   @include phones {
  //     display: inline-flex;
  //   }
}

.hero__pagination-wrap {
  padding: 40px 0;
  @include phones {
    padding: 20px 0 20px;
  }

  a {
    font-size: 16px;
    line-height: 28px;
    text-transform: inherit;
  }

  color: #777a7c;

  .hero__pagination span:not(:last-child),
  .hero__pagination a:not(:last-child) {
    margin-right: 24px;
  }
}
