mixin hero(data)
    if !data
        - var data = {}
    if data.home
        section.hero(class=`${data.class ? data.class : ''}`)
            +header
            .hero__inner
                if data.video
                    .hero__video-wrap
                        video.hero__video(preload="auto" autoplay="true" loop="true" muted="muted" )
                            source(src="assets/img/bg-video.mp4"  type="video/mp4" )
                .hero__inner-wrapper
                    .hero__content
                        h5.h5 Belvedere Legal
                        h1.h1 Effective Legal Solutions for Difficult Financial Issues
                        p A leading bankruptcy and commercial litigation law firm,
                            br
                            | based in the San Francisco Bay Area.
                        a.btn.btn--tilda(href="/")
                            span Contact Matthew Today
                            span.tilda ～
                        .hero__arrow
                            picture
                                img(src="assets/img/mobileArrow.svg", alt="Arrow")
                    aside.hero__aside
                        .personal-cabinet
                            form.form-search
                                input(type="search" placeholder="Search...")
                                button
                                    i.fal.fa-search
                            a.phone(href="tel:+14155135980") (415) 513-5980
    if data.inner
        section.hero.hero-inner.hero-js
            picture.hero-inner__bg
                img(data-src=data.image ? data.image : "assets/img/bg-hero-inner.png", alt="Bg")

            .container
                .hero-inner__row
                    h2.h2.h2--white= data.title
                    p.subtitle= data.subtitle
                    block inner
    if data.perspectives
        section.hero.hero-perspectives.hero-js
            picture.hero-inner__bg
                img(data-src="assets/img/bg-hero-inner.png", alt="Bg")
            .container
                .hero-inner__row
                    h2.h2.h2--white= data.title
                    .form-horizontal
                        form(action="")
                            .input__wrap
                                input.input(type="text" placeholder="Search Perspectives by Professional")
                            button(type="submit")
                                i.fal.fa-search
    if data.perspectiveInner
        section.hero.hero-inner.hero-inner--perspectives.hero-js
            picture.hero-inner__bg
                img(data-src="assets/img/bg-hero-inner.png", alt="Bg")
            .container
                .hero-inner__row
                    .content-cards
                        span.content-cards__item-date May 18, 2020
                        span.content-cards__item-category
                            span Consumer Bankruptcy
                            .content-cards__item-separator |
                            span Article
                .hero-inner__row
                    h2.h2.h2--white= data.title
    if data.pagination
        div(class=`hero__pagination-wrap ${data.paginationClass ? data.paginationClass : " "}`)
            .container
                .hero__pagination
                    each link in data.pagination.links
                        a(href="#").hero__pagination-link= link
                        span.hero__pagination-delimiter
                            img(src="assets/img/arrow-pagination.svg", alt="img")
                    span.hero__pagination-link= data.pagination.last
