.content-block {
  padding-bottom: 80px;
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    font-family: $bold;
    font-weight: bold;
    font-size: $fz-h2 - 8;
    line-height: $fz-h2 + 2;
    margin-bottom: 24px;
  }
  p {
    font-size: $fz;
    line-height: $fz + 12;
  }
  &__col {
    &:first-child {
      margin-right: auto;
      max-width: 640px;

      @include medium {
        max-width: 100%;
      }
    }
    &:nth-child(2) {
      max-width: 535px;
      @media screen and(max-width:1300px) {
        margin: 0 20px;
        max-width: calc(100% - 680px);

        .preview-cases {
          width: 100%;
        }
      }
      @include medium {
        margin-left: 0;
        max-width: 100%;
        width: 100%;
        margin: auto;
      }
    }
    &:last-child {
      width: 100%;
      margin-top: 56px;
    }
  }
}
.contact-us__bg {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;
  }
}
.content-block {
  iframe {
    height: 700px;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
  }
}
