mixin content-block(data)
    if data.template
        section.content-block
            .container
                .content-block__row
                    h2 The Firm is as Adept in Nonbankruptcy Litigation as Bankruptcy Litigation 
                    p
                        | We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions, misappropriation of trade secrets, unfair competition, and unlawful business practices. We also have extensive experience bringing and defending motions for prejudgment remedies (e.g., receivership, attachment, claim and delivery). At the outset of any engagement, we thoroughly evaluate options with a client decide how best to apply its resources, whether it be aggressive litigation or creative settlement strategies. We also help employers navigate the complex world of employment law in both the plaintiff and defense sides.
                    h2 The Firm is as Adept in Nonbankruptcy Litigation as Bankruptcy Litigation 
                    p
                        | We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions, misappropriation of trade secrets, unfair competition, and unlawful business practices. We also have extensive experience bringing and defending motions for prejudgment remedies (e.g., receivership, attachment, claim and delivery). At the outset of any engagement, we thoroughly evaluate options with a client decide how best to apply its resources, whether it be aggressive litigation or creative settlement strategies. We also help employers navigate the complex world of employment law in both the plaintiff and defense sides.
                    h2 The Firm is as Adept in Nonbankruptcy Litigation as Bankruptcy Litigation 
                    p
                        | We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions, misappropriation of trade secrets, unfair competition, and unlawful business practices. We also have extensive experience bringing and defending motions for prejudgment remedies (e.g., receivership, attachment, claim and delivery). At the outset of any engagement, we thoroughly evaluate options with a client decide how best to apply its resources, whether it be aggressive litigation or creative settlement strategies. We also help employers navigate the complex world of employment law in both the plaintiff and defense sides.
    else if data.portal
        section.content-block
            .container
                .content-block__row
                    iframe( src="https://secure.lawpay.com/pages/belvedere-legal-apc/operating" width="100%" height="700")
    else
        section.content-block
            .container
                .content-block__row
                    .content-block__col
                        h2 The Firm is as Adept in Nonbankruptcy Litigation as Bankruptcy Litigation 
                        p
                            | We represent plaintiffs and defendants in a multitude of state and federal court matters, including contract disputes, fraud actions, misappropriation of trade secrets, unfair competition, and unlawful business practices. We also have extensive experience bringing and defending motions for prejudgment remedies (e.g., receivership, attachment, claim and delivery). At the outset of any engagement, we thoroughly evaluate options with a client decide how best to apply its resources, whether it be aggressive litigation or creative settlement strategies. We also help employers navigate the complex world of employment law in both the plaintiff and defense sides.
                    .content-block__col
                        .preview-cases
                            .preview-cases__title Recent Business And Commercial Litigation Case Results 
                            a.preview-cases__item(href="/")
                                h2.preview-cases__item-title  $2+ million
                                h5.h5 Chapter 11 bankruptcy
                            a.preview-cases__item(href="/")
                                h2.preview-cases__item-title $316 million
                                h5.h5 Adversary Nondischargeability Litigation
                            a.link.link__icon.t-uppercase(href="/")
                                picture
                                    img(src="assets/img/arrow-small.svg", alt="Icon")
                                span View More Victories & Settlements 
                    .content-block__col
                    
                        +info-block({
                            title: "Get effective legal solutions for difficult financial issues now.",
                            class: "info-block--blue",
                            btn: "Schedule Free Consultation",
                            content: true
                        })