.case-studies__clients {
  padding-bottom: 100px;

  @include medium {
    padding-bottom: 40px;

    .case-studies__top-content {
      padding-left: 0 !important;
    }
  }

  .case-studies__top-content-left {
    margin-right: auto;
    margin-left: 0;
    width: auto;

    @media screen and(max-width: 1280px) {
      padding-right: 30px;
    }

    @include medium {
      padding-right: 0;
      max-width: 100%;
      margin: 0;
      order: 1;
    }
  }

  .case-studies__top-content-right {
    margin-left: auto;
    margin-right: 0;
    width: auto;

    @include medium {
      max-width: 100%;
      order: 2;
      margin: 0;
    }

    p {
      color: #3a3a3c;
    }
  }

  .case-studies__container {
    @include medium {
      order: 3;
    }
  }

  .case-studies__item {
    width: 32% !important;
    height: 650px !important;
    overflow: hidden;

    .case-studies__item-content {
      overflow-y: auto;
    }

    @media screen and(max-width: 1040px) {
      margin-bottom: 20px;
      margin-right: 20px;
    }

    @include medium {
      margin-right: initial;
    }

    &:hover {
      .case-studies__item-face {
        opacity: 1;
      }

      .case-studies__item-inner {
        opacity: 0;
        box-shadow: none !important;
      }
    }

    &.case-studies__item--js {
      box-shadow: 4px 27px 60px -17px rgba(0, 0, 0, 0.3) !important;

      .case-studies__item-face {
        opacity: 0;
      }

      .case-studies__item-inner {
        opacity: 1;
        z-index: 5;
      }
    }

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }

    &:not(:nth-last-of-type(-n + 3)) {
      margin-left: 0iimportant;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1024px) {
      width: 48% !important;
      margin-right: 0 !important;
    }

    @include medium {
      width: 49% !important;
      height: 277px !important;
      margin-bottom: 25px;
    }

    @include tablets {
      width: 100% !important;
      height: 277px !important;
      margin-bottom: 25px;
    }
  }

  .case-studies__container {
    flex-wrap: wrap;
    justify-content: start;
  }

  .btn.btn--tilda {
    margin: 48px auto 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include medium {
      margin-top: 20px;
    }
  }

  .case-studies__container {
    @media screen and(max-width: 1024px) {
      justify-content: space-between;

      h2.h1 {
        font-size: 40px;
      }

      .case-studies__item-middle {
        padding-left: 20px;
      }
    }
    @include phones {
      h2.h1 {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }
}
.case-studies {
  @include medium {
    overflow: hidden;
  }
}
.case-studies__top-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include medium {
    padding-left: 24px;
  }
}

.case-studies__top-content-right,
.case-studies__top-content-left {
  max-width: 660px;
  display: flex;
  width: 100%;

  align-items: center;

  @media screen and (max-width: 1325px) {
    max-width: 50%;
  }

  @include medium {
    max-width: 100%;
  }
}

.case-studies__top-content-left {
  margin-left: auto;

  @media screen and (max-width: 1325px) {
    padding-left: 24px;
  }

  @include medium {
    margin-left: 0;
    padding-left: 0;

    h2 {
      margin-bottom: 10px;
    }
  }
}

.case-studies__top-content-right {
  margin-right: auto;
  justify-content: flex-end;

  @media screen and (max-width: 1325px) {
    padding-right: 24px;
  }

  @include medium {
    order: 3;
    justify-content: start;
    // margin-top: 32px;
    margin-bottom: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  @include medium {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.case-studies__container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px auto 0;
  position: relative;
  @include medium {
    .swiper-container {
      overflow: visible;
      width: 100%;
    }
  }
}

.case-studies__container-js {
  @media screen and(min-width: 1200px) {
    width: 100%;
  }
}

.case-studies__container-js {
  .case-studies__item {
    @include medium {
      width: 80% !important;
      margin-right: 30px;
      // width: auto!important;
      // max-width: 80%;
    }
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
    // &.swiper-slide-active {
    // width: 80%!important;}
    @include medium {
      // width: 100% !important;
      // height: 400px !important;
      // margin: auto;
      // padding-right: 24px;
    }

    @include phones {
      // width: 275px !important;
      height: 400px !important;
      // padding-right: 0;
      // margin-right: 22px;
    }
    &:nth-child(2n) {
      // width: 60%!important;
    }
    &:nth-child(3n) {
      // width: 40%!important;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.case-studies__item {
  overflow: hidden;
  position: relative;
  height: 768px !important;
  transition: all 0.3s ease-in-out;
  cursor: url(assets/img/cursor.png) 2 2, pointer;

  @media screen and (max-width: 1280px) {
    height: 620px !important;
    width: 33.33% !important;
  }

  @include medium {
    // width: 306px !important;
    height: 504px !important;
    margin-right: 16px;
  }

  // @include phones {
  //     margin-left: 21px;
  // }
  @media screen and(max-width: 320px) {
    margin-left: 0;
    margin-right: 1px;
  }

  @media screen and (min-width: 1280px) {
    // width: 480px !important;
  }

  &-bg {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #2b2b2e;
      opacity: 0.2;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &:hover {
    overflow: visible;

    .case-studies__item-face {
      opacity: 0;
    }

    .case-studies__item-inner {
      opacity: 1;
      box-shadow: 4px 27px 60px -17px rgba(0, 0, 0, 0.3);
    }
  }

  @media screen and(min-width: 1200px) {
    width: 33.33% !important;
  }
}

.case-studies__item-top *,
.case-studies__item-middle * {
  z-index: 1;
  position: relative;
  color: $white !important;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.case-studies__item-top {
  margin-top: auto;
  padding-top: 60px;
  padding-right: 55px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include medium {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 20px;

    picture {
      overflow: hidden;
      width: 40px;
      height: 45px;
      position: relative;

      img {
        top: 0;
        right: 0;
        position: absolute;
      }
    }
  }
}

.case-studies__item-middle {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 64px;
  margin-top: 0px;
  top: 44%;
  transform: translateY(-50%);
  padding-right: 35px;

  @include phones {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
  }
  .h1 {
    font-size: $fz-h1 - 9;
    line-height: 1.25;
    margin: 0;

    @include medium {
      font-size: $fz-h1 - 24;
      line-height: ($fz-h1 + 16) / 2;
    }
  }

  p {
    font-size: 14px;
  }
}

.case-studies__item-face {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  // word-break: break-all;
  z-index: 2;
  .case-studies__item-middle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    max-height: calc(100% - 100px);
    overflow: auto;
  }
}
.case-studies__item-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white;
  bottom: 0;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  // transform: rotateY(180deg); /* Вращаем по оси Y */
  padding: 72px 70px 72px 64px;
  opacity: 0;
  z-index: 1;

  // @include medium {

  //     padding: 45px 54px 45px 32px;
  // }
  @include medium {
    padding: 45px 15px 45px 15px;
  }
}

.case-studies__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
  padding-right: 5px;
  overflow-x: hidden;

  @include medium {
    font-size: $fz - 2;
  }

  &::-webkit-scrollbar {
    width: 0.3em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}
