mixin case-studies(data)
    if data.clients
        section.case-studies.case-studies__clients
            .container
                .case-studies__top-content
                    .case-studies__top-content-left
                        h2 Our Victories and Settlements
                    .case-studies__top-content-right
                        p The Belvedere Legal Law Firm has recovered over $110 million for our clients in San Francisco Bay Area in California 

                    .case-studies__container
                        - var n = ["assets/img/img4.jpg","assets/img/img5.jpg","assets/img/img6.jpg","assets/img/img7.jpg","assets/img/img8.jpg","assets/img/img9.jpg"];
                            each item in n
                                .case-studies__item
                                    .case-studies__item-face
                                        picture.case-studies__item-bg
                                            img(src=item, alt="Img")
                                        .case-studies__item-top
                                            picture
                                                img(data-src="assets/img/long-arrow.svg", alt="arrows")
                                        .case-studies__item-middle
                                            h2.h1 $2+ million
                                            p.t-uppercase Chapter 11 bankruptcy
                                    .case-studies__item-inner
                                        .case-studies__item-content
                                            p Belvedere Legal attorneys recovered... Debtor had over two million dollars worth of general unsecured debt. Debtor was able to utilize bankruptcy protection to liquidate certain real property, restructure liabilities and retain other property, and provide a 2% dividend to general unsecured creditors decision.
                                            a.link.link__icon.t-uppercase(href="/")
                                                picture
                                                    img(src="assets/img/arrow-small.svg", alt="Icon")
                                                span view case study
                a.btn.btn--tilda(href="/")
                    span Load More Case Studies
                    span.tilda ～
    else
        section.case-studies#case-studies
            .case-studies__top-content
                .case-studies__top-content-left
                    h2 Case Studies
                .case-studies__top-content-right
                    a.btn.btn--tilda(href="/")  
                        span View All Case Studies 
                        span.tilda ～

                .case-studies__container
                    .swiper-container.case-studies__container-js
                        .swiper-wrapper
                            - var n = ["assets/img/img1.jpg","assets/img/img2.jpg","assets/img/img3.jpg"];
                                each item in n
                                    .case-studies__item.swiper-slide
                                        .case-studies__item-face
                                            picture.case-studies__item-bg
                                                img(src=item, alt="Img")
                                            .case-studies__item-top
                                                picture
                                                    img(data-src="assets/img/long-arrow.svg", alt="arrows")
                                            .case-studies__item-middle
                                                h2.h1 $2+ million
                                                p.uppercase Chapter 11 bankruptcy
                                        .case-studies__item-inner
                                            .case-studies__item-content
                                                p Belvedere Legal attorneys recovered... Debtor had over two million dollars worth of general unsecured debt. Debtor was able to utilize bankruptcy protection to liquidate certain real property, restructure liabilities and retain other property, and provide a 2% dividend to general unsecured creditors decision.
                                                a.link.link__icon.t-uppercase(href="/")
                                                    picture
                                                        img(src="assets/img/arrow-small.svg", alt="Icon")
                                                    span view case study