// @import "../../../node_modules/pixel-glass/styles.css";
// @import "~normalize.css/normalize.css";
@import '../../../node_modules/normalize.css/normalize.css';
@import 'fonts';
@import 'variables';
@import '../../assets/fonts/fontawesome/fontawesome.css';
@import '../../../node_modules/node-snackbar/dist/snackbar.css';

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.snackbar-pos.bottom-center {
  z-index: 11;
}
html {
  width: 100%;

  @media (min-width: 992px) {
    &::-webkit-scrollbar {
      width: 0.3em;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }
}

body {
  font-family: $regular;
  font-size: $fz;
  color: $c-text;
  line-height: 1.6;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

a .main {
  position: relative;
}

.text-center {
  text-align: center;
}

.t-uppercase {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}
.opnone {
  opacity: 0.5;
}
a {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz - 2;
  line-height: $fz + 2;
  letter-spacing: 0.01em;
  // text-transform: uppercase;
  color: $c-blue;
  text-decoration: none;

  &.btn--tilda {
    .tilda {
      margin-left: 10px;
      color: #dfeaf0;
      img {
        width: 23px;
        height: 10px;
        overflow: hidden;
        margin: 0;
      }
    }
  }

  &:hover:not(.btn) {
    color: $c-hover;
  }
}

.icon-title {
  width: 100%;
  display: inline-block;

  @include medium {
    margin-bottom: 35px;
    position: relative;
    display: block;
  }
}

.icon-title + span {
  display: block;
  margin-top: 35px;
}

.link {
  display: flex;
  align-items: center;

  img {
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }

  &__icon {
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
  }
}

.list-block {
  list-style: none;
  padding-left: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 48%;
    transition: all 0.5s ease-in-out;

    &:nth-child(2n) {
      margin-left: 20px;

      @include tablets {
        margin-left: 0;
      }
    }

    @include tablets {
      width: 100%;
    }

    margin-bottom: 24px;

    a {
      display: block;
      picture {
        transition: all 0.5s ease-in-out;
      }
    }

    &:hover {
      picture {
        position: relative;
        margin-left: 10px;
      }
    }
  }

  &__item-title {
    margin-bottom: 8px;
    background: $c-lightgreen;
    color: $c-green;
    padding: 5px 8px;
    display: inline-flex;
    font-family: $bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    margin-top: 10px;
    // h4 {

    // }
  }

  picture {
    margin-top: 8px;
  }

  &__item-text {
  }
}

.row {
  display: flex;
  width: 100%;
}

.preview-cases {
  width: 535px;
  overflow: hidden;
  min-height: 300px;
  padding: 56px 56px 64px 56px;
  border: 1px solid $c-lightgray;
  display: flex;
  flex-direction: column;
  // word-break: break-all;
  @media screen and(max-width:1130px) {
    padding: 40px 20px;
  }
  @media screen and(max-width:1300px) {
    max-height: initial;
  }
  @include tablets {
    width: 100%;
    max-height: initial;
    padding: 20px;
  }
  .preview-cases__title {
    font-family: $bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #3a3a3c;
    margin-bottom: 28px;
  }

  .preview-cases__item {
    margin-bottom: 28px;
    @media screen and(max-width:1130px) {
      margin-bottom: 10px;
    }
  }

  .preview-cases__item-title {
    font-family: $bold;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    color: #3a3a3c;
    margin-bottom: 28px;
    margin-bottom: 8px;
    color: $c-blue;
    margin-top: 0;
    @media screen and(max-width:1130px) {
      font-size: 20px;
      line-height: 36px;
      margin-bottom: 5px;
    }
    @include medium {
      font-size: 40px;
      line-height: 56px;
      margin-bottom: 28px;
    }
  }

  h5 {
    margin-top: 0;
    color: #777a7c;
    opacity: 0.5;
    @media screen and(max-width:1130px) {
      font-size: 12px;
    }
  }
  .link {
    @media screen and(max-width:1130px) {
      font-size: 12px;
    }
  }
}

.phone {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz + 2;
  line-height: ($fz * 2) - 6;
  text-decoration: none;
  color: $c-text;
}

.form-horizontal {
  // margin-left: auto;
  // width: 100%;
  // max-width: 950px;

  form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

    @include tablets {
      flex-direction: column;

      .input__wrap {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
      }

      button {
        margin-bottom: 20px;
      }
    }
  }

  *:not(:last-child) {
    margin-right: 24px;
  }

  input {
    width: 100%;
    color: $c-text;
    padding: 10px 16px;
    background-color: $white;
    position: relative;
    z-index: 1;

    &:focus,
    :hover {
      color: $c-text;
    }
  }

  button {
    background: $c-hover;
    height: 48px;
    min-width: 48px;
    color: $white;
    border: none;
    font-size: 24px;

    &:hover {
      opacity: 0.8;
    }
  }

  .input__wrap {
    padding-top: 0;
    width: 100%;
    max-width: 425px;
    display: flex;
    margin-bottom: 0;
    border: none;
  }
}

.bg-color--gray {
  background-color: $c-darkgray;
}

// .h1 {
//     font-size: 38px;
//     font-family: $lora;
//     font-weight: normal;
//     margin-top: 0;
//     line-height: 1.4;
//     color: $c-text-2;
//     @include large {
//         font-size: 34px;
//     }
//     @include tablets {
//         font-size: 24px;
//     }
// }
// .h2 {
//     font-weight: normal;
//     font-size: 36px;
//     font-family: $lora;
//     margin-top: 0;
//     line-height: 1.4;
//     color: $c-text-2;
//     @include large {
//         font-size: 32px;
//     }
//     @include tablets {
//         font-size: 24px;
//     }
// }
// .content {
//     ul {
//         list-style: none;
//         padding: 0;
//         margin: 0;
//         li {
//             position: relative;
//             padding-left: 33px;
//             margin-bottom: 20px;
//             @include tablets {
//                 font-size: 14px;
//             }
//             &:last-child {
//                 margin-bottom: 0;
//             }
//             &::before {
//                 content: "";
//                 position: absolute;
//                 left: 0;
//                 top: 6px;
//                 width: 10px;
//                 height: 10px;
//                 background-color: $c-blue;
//                 border-radius: 100%;
//                 @include tablets {
//                     top: 5px;
//                 }
//             }
//         }
//     }
// }
// .left-line {
//     position: relative;
//     padding-bottom: 20px;
//     margin-bottom: 35px;
//     &::before {
//         content: "";
//         height: 2px;
//         width: 54px;
//         background-color: $c-orange;
//         position: absolute;
//         bottom: 0;
//         left: 0;
//     }
// }
// .center-line {
//     position: relative;
//     padding-bottom: 20px;
//     margin-bottom: 35px;
//     &::before {
//         content: "";
//         height: 2px;
//         width: 54px;
//         background-color: $c-orange;
//         position: absolute;
//         bottom: 0;
//         left: 50%;
//         transform: translateX(-50%);
//     }
// }
// .right-line {
//     position: relative;
//     padding-right: 90px;
//     display: inline-flex;
//     &::before {
//         content: "";
//         height: 2px;
//         width: 54px;
//         background-color: $c-orange;
//         position: absolute;
//         top: calc(50% + 3px);
//         right: 0;
//     }
// }

// .time-block {
//     font-family: "Nunito";
//     font-style: normal;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 24px;
//     letter-spacing: 0.03em;
//     color: $c-text-3;
// }
// strong {
//     font-family: "Nunito";
//     font-style: normal;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 21px;
//     letter-spacing: 0.03em;
//     color: $c-text;
// }
// .text-center {
//     text-align: center;
// }
// .text-left {
//     text-align: left!important;
// }
// .subtitle-block {
//     font-family: "Nunito";
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 28px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: $c-text;
// }

// .link-pdf {
//     &:not(:last-child) {
//         margin-bottom: 30px;
//     }
//     display: flex;
//     cursor: pointer;
//     font-family: $nunito;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 18px;
//     line-height: 24px;
//     letter-spacing: 0.03em;
//     text-decoration-line: underline;
//     color: $c-blue;
//     align-items: center;
//     i {
//         font-size: 36px;
//         margin-right: 29px;
//     }
// }

.wpcf7-response-output {
  display: none !important;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
}

.wpcf7-form-control-wrap {
  width: 100%;
}

.wpcf7-form.form.invalid {
  input[aria-invalid='true'] {
    border-bottom-color: red;
  }
}

.wpcf7-not-valid-tip {
  display: none !important;
  font-size: 0;
}

.scrollNone {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  // overflow-y: auto;
}

.text-left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}

// title

.subtitle {
  font-size: $fz - 2 !important;
  line-height: 24px !important;
  color: $white !important;
}

h1,
.h1 {
  font-family: $bold;
  font-style: normal;
  font-weight: bold;
  font-size: $fz-h1;
  line-height: $fz-h1 + 16;
  color: $c-title;

  @include medium {
    font-size: $fz-h1 - 24;
    line-height: ($fz-h1 + 16) / 2;
  }
}

h2,
.h2 {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz-h2;
  line-height: $fz-h2 + 16;
  color: $c-title;

  @include phones {
    font-size: 32px;
    line-height: 42px;
  }
}

.h2--white {
  color: $white !important;
}

h3,
.h3 {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz-h3;
  line-height: $fz-h3 + 14;
  color: $c-title;

  @include phones {
    font-size: 18px;
    line-height: 28px;
  }
}

p {
  font-family: $regular;
  font-size: $fz + 2;
  line-height: ($fz * 2) - 2;
  color: $c-text;
  a {
    font-size: $fz + 2;
    line-height: ($fz * 2) - 2;
  }
}

.h5 {
  font-family: $regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $c-gray;
}

.btn {
  display: inline-block;
  font-size: $fz;
  line-height: $fz + 5;
  white-space: nowrap;
  color: $white;
  font-family: $regular;
  background: $c-blue;
  // background-image: linear-gradient(180deg, #3A6EAA 0%, #2B517C 100%);
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 20px 35px;
  cursor: pointer;
  min-height: 60px;
  outline: none;
  transition: all 0.2s ease-in-out;
  text-transform: inherit;
  &:hover {
    background: $c-hover;
  }

  @include phones {
    padding: 20px 12px;
    font-size: 16px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  transition: all 0.4s linear;
  // z-index: 0;
  position: relative;
  > div {
    display: flex;
    top: 0;
    flex-direction: column;
    transition: all 0.4s linear;
  }

  @include tablets {
    margin-left: 0;
    margin-top: 20px;
    flex-direction: row;
    margin-left: 0;
  }
}

.social__item {
  color: $c-gray;
  font-size: $fz-h3;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @include tablets {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.description-user {
  .description-user__item {
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 0;
    font-family: $bold;
    font-weight: bold;
    font-size: $fz-h2 - 8;
    line-height: $fz-h2 + 2;
    color: $c-title;
  }
  p {
    font-family: $regular;
    font-size: $fz;
    line-height: $fz + 12;
    color: $c-text;
  }
}
.search-result {
  display: flex;
}

.search-result:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.search-result__picture {
  margin-right: 3.125rem;
  display: block;
  transition: 0.2s;
}

.search-result__picture:hover {
  opacity: 0.85;
}

@media only screen and (max-width: 768px) {
  .search-result__picture {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
    max-width: 100%;
  }
}

.search-result__picture img,
.search-result__picture picture {
  width: 265px;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  .search-result__picture img,
  .search-result__picture picture {
    width: 100%;
    height: auto;
  }
}

.search-result__content {
  flex-grow: 1;
}
.search--results {
  padding-top: 40px;
}
.search-result__title {
  font-size: 18px;
  text-transform: uppercase;
  color: $black;
}
.search-result__content p {
  font-family: 'pt serif';
  font-size: 1.125rem;
  line-height: 1.75;
  color: #636363;
}
.wrapper-reviews__rating .rateit .rateit-preset {
  color: #f3b209;
}
button[type='submit'] {
  &:focus {
    background: transparent;
  }
}
.sticky {
  position: fixed;
  // z-index: 101;
}
.stop {
  position: relative;
  // z-index: ;
}
div.wpcf7 .ajax-loader {
  position: absolute !important;
  left: -31px !important;
  display: none !important;
  opacity: 0;
  z-index: -1;
}
input {
  webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[aria-invalid='true'] {
  border-color: red;
  color: red;
}

.directions {
  color: #dfeaf0 !important;
  &:hover {
    opacity: 0.7;
  }
}
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}
input,
textarea {
  &::-moz-placeholder,
  & :-moz-placeholder {
    opacity: 1;
  }
}
li {
  color: currentColor;
}

.parentSerach-active {
  padding: 0px 16px 0px 14px;
  border: 1px solid #f0f0f0;
  width: 100%;
  max-width: 315px;
  background-color: $white;

  button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;

    &:focus,
    :active,
    :visited,
    :hover {
      padding: 0;
      outline: none;
      border: none;
    }
  }

  input {
    opacity: 1;
    display: block;
    color: $c-text;
  }
}
.wpcf7-not-valid {
  border-bottom-color: red !important;
}

.clearfix:after {
  content: ' '; /* Older browser do not support empty content */
  display: table;
  height: 0;
  clear: both;
}
.active {
  color: #777a7c;
}
