@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@font-face {
  font-family: 'IBM';
  src: url('../../assets/fonts/Ibm/IBMMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
