$phones: 480px;
$tablets: 768px;
$medium: 991px;
$large: 1280px;
$extra-large: 1440px;
$xl-large: 1600px;

// Media mixins
@mixin phones() {
  @media screen and (max-width: $phones) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin medium() {
  @media screen and (max-width: $medium) {
    @content;
  }
}

@mixin large() {
  @media screen and (max-width: $large) {
    @content;
  }
}

@mixin extra-large() {
  @media screen and (max-width: $extra-large) {
    @content;
  }
}

@mixin xl-large() {
  @media screen and (max-width: $xl-large) {
    @content;
  }
}

@mixin test {
  .qwe {
    display: none;
  }
  .qwe1 {
    display: inline;
  }
}

.test-test {
  @include test;
}
