$c-linkBlue: #10549f;
$c-dark: #3a3a3c; // Fonts
$nunito: 'Nunito';
$lora: 'Lora';

$regular: 'Rubik';
$bold: 'Rubik';
$ibm: 'IBM';

$fz: 16px;
$fz-h1: 56px;
$fz-h2: 40px;
$fz-h3: 24px;
$fz-h5: 14px;

// Custom
$white: #fff;
$black: black;
// Colors
$c-title: #3a3a3c;
$c-gray: #dadada;
$c-darkgray: #e5e5e5;
$c-lightgray: #f0f0f0;
$c-text: #777a7c;
$c-blue: #3a6eaa;
$c-blue-2: #47cdff;
$c-hover: #305987;
$c-overlay: #1391de;
$c-dark: #2b2b2e;
$c-lightBlue: #dfeaf0;
$bg-lightBlue: #f5f9fb;
$c-lightgreen: #ebf4ea;
$c-green: #5ba657;

// old
$c-text-2: #30323e;
$c-text-3: #a9a9a9;
$c-graylight: #f2f2f2;
$klavika: 'Verdana';

$c-darkBlue: #2866a9;

$c-orange: #f49600;
$c-main: #f8fcff;
