mixin header(data)
    if !data
        - var data = {}
        header.header(class=`${data.class ? data.class : ''}`)
            .header__inner
                .header__logo
                    a(href="#")
                        img(src="assets/img/logo.svg", alt="Logo")
                        img.mobile-logo(src="assets/img/mobile-logo.svg", alt="Logo")
                        img.black-logo(src="assets/img/logo_black.svg", alt="Logo")
                .hamburger
                    span
                    span
                    span
                a(href="tel:").header-phone
                    img(src="assets/img/phone-header.svg", alt="Phone")
                .header__arrow
                    span
                        svg( viewbox='0 0 16 58' fill='none' xmlns='https://www.w3.org/2000/svg')
                            path(opacity='0.3' d='M8.99999 1C8.99999 0.447715 8.55228 -5.52068e-08 7.99999 0C7.44771 5.52061e-08 6.99999 0.447715 6.99999 1L8.99999 1ZM7.29289 57.7071C7.68342 58.0976 8.31658 58.0976 8.7071 57.7071L15.0711 51.3431C15.4616 50.9526 15.4616 50.3195 15.0711 49.9289C14.6805 49.5384 14.0474 49.5384 13.6569 49.9289L8 55.5858L2.34314 49.9289C1.95262 49.5384 1.31945 49.5384 0.928929 49.9289C0.538405 50.3195 0.538405 50.9526 0.928929 51.3431L7.29289 57.7071ZM7.99999 1C6.99999 1 6.99999 1.00013 6.99999 1.00039C6.99999 1.00065 6.99999 1.00104 6.99999 1.00156C6.99999 1.00208 6.99999 1.00273 6.99999 1.00351C6.99999 1.00428 6.99999 1.00519 6.99999 1.00623C6.99999 1.03845 6.99999 0.980733 6.99999 1.01399C6.99999 1.01554 6.99999 1.01721 6.99999 1.01902C6.99999 1.02083 6.99999 1.02276 6.99999 1.02482C6.99999 1.02688 6.99999 1.02907 6.99999 1.03139C6.99999 1.0337 6.99999 1.03614 6.99999 1.03871C6.99999 1.04128 6.99999 1.04398 6.99999 1.0468C6.99999 1.04962 6.99999 1.05257 6.99999 1.05565C6.99999 1.05872 6.99999 1.06192 6.99999 1.06525C6.99999 1.06858 6.99999 1.07203 6.99999 1.07561C6.99999 1.07919 6.99999 1.08289 6.99999 1.08672C6.99999 1.09055 6.99999 1.0945 6.99999 1.09858C6.99999 1.10265 6.99999 1.10686 6.99999 1.11118C6.99999 1.11551 6.99999 1.11996 6.99999 1.12454C6.99999 1.12911 6.99999 1.13381 6.99999 1.13863C6.99999 1.14346 6.99999 1.1484 6.99999 1.15347C6.99999 1.15854 6.99999 1.16374 6.99999 1.16905C6.99999 1.17437 6.99999 1.17981 6.99999 1.18537C6.99999 1.19093 6.99999 1.19661 6.99999 1.20242C6.99999 1.20823 6.99999 1.21415 6.99999 1.2202C6.99999 1.22625 6.99999 1.23243 6.99999 1.23872C6.99999 1.24501 6.99999 1.25143 6.99999 1.25797C6.99999 1.2645 6.99999 1.27116 6.99999 1.27794C6.99999 1.28472 6.99999 1.29162 6.99999 1.29864C6.99999 1.30566 6.99999 1.3128 6.99999 1.32006C6.99999 1.32732 6.99999 1.3347 6.99999 1.3422C6.99999 1.3497 6.99999 1.35732 6.99999 1.36506C6.99999 1.3728 6.99999 1.38066 6.99999 1.38864C6.99999 1.39662 6.99999 1.40472 6.99999 1.41294C6.99999 1.42115 6.99999 1.42949 6.99999 1.43794C6.99999 1.4464 6.99999 1.45497 6.99999 1.46366C6.99999 1.47235 6.99999 1.48116 6.99999 1.49008C6.99999 1.49901 6.99999 1.50805 6.99999 1.51722C6.99999 1.52638 6.99999 1.53566 6.99999 1.54505C6.99999 1.55445 6.99999 1.56396 6.99999 1.57359C6.99999 1.58322 6.99999 1.59297 6.99999 1.60283C6.99999 1.61269 6.99999 1.62267 6.99999 1.63277C6.99999 1.64286 6.99999 1.65307 6.99999 1.6634C6.99999 1.67373 6.99999 1.68417 6.99999 1.69473C6.99999 1.70529 6.99999 1.71596 6.99999 1.72675C6.99999 1.73754 6.99999 1.74844 6.99999 1.75946C6.99999 1.77047 6.99999 1.78161 6.99999 1.79285C6.99999 1.8041 6.99999 1.81546 6.99999 1.82694C6.99999 1.83841 6.99999 1.85 6.99999 1.8617C6.99999 1.87341 6.99999 1.88522 6.99999 1.89715C6.99999 1.90908 6.99999 1.92112 6.99999 1.93328C6.99999 1.94544 6.99999 1.9577 6.99999 1.97009C6.99999 1.98247 6.99999 1.99496 6.99999 2.00757C6.99999 2.02017 6.99999 2.03289 6.99999 2.04572C6.99999 2.05855 6.99999 2.07149 6.99999 2.08455C6.99999 2.0976 6.99999 2.11076 6.99999 2.12404C6.99999 2.13732 6.99999 2.1507 6.99999 2.1642C6.99999 2.1777 6.99999 2.19131 6.99999 2.20503C6.99999 2.21875 6.99999 2.23258 6.99999 2.24652C6.99999 2.26046 6.99999 2.27451 6.99999 2.28867C6.99999 2.30283 6.99999 2.3171 6.99999 2.33148C6.99999 2.34586 6.99999 2.36035 6.99999 2.37495C6.99999 2.38954 6.99999 2.40425 6.99999 2.41907C6.99999 2.43388 6.99999 2.44881 6.99999 2.46384C6.99999 2.47887 6.99999 2.49402 6.99999 2.50926C6.99999 2.52451 6.99999 2.53987 6.99999 2.55534C6.99999 2.5708 6.99999 2.58638 6.99999 2.60206C6.99999 2.61774 6.99999 2.63352 6.99999 2.64942C6.99999 2.66531 6.99999 2.68132 6.99999 2.69743C6.99999 2.71353 6.99999 2.72975 6.99999 2.74607C6.99999 2.76239 6.99999 2.77882 6.99999 2.79535C6.99999 2.81189 6.99999 2.82853 6.99999 2.84527C6.99999 2.86202 6.99999 2.87887 6.99999 2.89583C6.99999 2.91279 6.99999 2.92985 6.99999 2.94701C6.99999 2.96418 6.99999 2.98145 6.99999 2.99883C6.99999 3.01621 6.99999 3.03369 6.99999 3.05127C6.99999 3.06886 6.99999 3.08655 6.99999 3.10434C6.99999 3.12214 6.99999 3.14003 6.99999 3.15803C6.99999 3.17603 6.99999 3.19414 6.99999 3.21235C6.99999 3.23056 6.99999 3.24887 6.99999 3.26728C6.99999 3.2857 6.99999 3.30421 6.99999 3.32283C6.99999 3.34145 6.99999 3.36017 6.99999 3.379C6.99999 3.39782 6.99999 3.41675 6.99999 3.43578C6.99999 3.45481 6.99999 3.47394 6.99999 3.49317C6.99999 3.5124 6.99999 3.53173 6.99999 3.55117C6.99999 3.5706 6.99999 3.59014 6.99999 3.60977C6.99999 3.62941 6.99999 3.64915 6.99999 3.66898C6.99999 3.68882 6.99999 3.70876 6.99999 3.7288C6.99999 3.74884 6.99999 3.76897 6.99999 3.78921C6.99999 3.80945 6.99999 3.82979 6.99999 3.85023C6.99999 3.87066 6.99999 3.8912 6.99999 3.91184C6.99999 3.93247 6.99999 3.95321 6.99999 3.97404C6.99999 3.99487 6.99999 4.01581 6.99999 4.03684C6.99999 4.05787 6.99999 4.079 6.99999 4.10023C6.99999 4.12145 6.99999 4.14278 6.99999 4.1642C6.99999 4.18562 6.99999 4.20715 6.99999 4.22876C6.99999 4.25038 6.99999 4.2721 6.99999 4.29391C6.99999 4.31572 6.99999 4.33763 6.99999 4.35964C6.99999 4.38164 6.99999 4.40375 6.99999 4.42595C6.99999 4.44815 6.99999 4.47044 6.99999 4.49283C6.99999 4.51522 6.99999 4.53771 6.99999 4.5603C6.99999 4.58288 6.99999 4.60556 6.99999 4.62833C6.99999 4.65111 6.99999 4.67397 6.99999 4.69694C6.99999 4.7199 6.99999 4.74296 6.99999 4.76612C6.99999 4.78927 6.99999 4.81252 6.99999 4.83586C6.99999 4.8592 6.99999 4.88264 6.99999 4.90617C6.99999 4.9297 6.99999 4.95333 6.99999 4.97705C6.99999 5.00076 6.99999 5.02458 6.99999 5.04848C6.99999 5.07239 6.99999 5.09638 6.99999 5.12048C6.99999 5.14457 6.99999 5.16875 6.99999 5.19303C6.99999 5.2173 6.99999 5.24167 6.99999 5.26613C6.99999 5.2906 6.99999 5.31515 6.99999 5.33979C6.99999 5.36444 6.99999 5.38918 6.99999 5.414C6.99999 5.43883 6.99999 5.46375 6.99999 5.48876C6.99999 5.51378 6.99999 5.53888 6.99999 5.56407C6.99999 5.58926 6.99999 5.61455 6.99999 5.63992C6.99999 5.6653 6.99999 5.69076 6.99999 5.71632C6.99999 5.74187 6.99999 5.76752 6.99999 5.79325C6.99999 5.81899 6.99999 5.84481 6.99999 5.87072C6.99999 5.89664 6.99999 5.92264 6.99999 5.94873C6.99999 5.97483 6.99999 6.00101 6.99999 6.02728C6.99999 6.05355 6.99999 6.07991 6.99999 6.10636C6.99999 6.1328 6.99999 6.15934 6.99999 6.18596C6.99999 6.21259 6.99999 6.2393 6.99999 6.2661C6.99999 6.2929 6.99999 6.31978 6.99999 6.34676C6.99999 6.37373 6.99999 6.40079 6.99999 6.42794C6.99999 6.45509 6.99999 6.48233 6.99999 6.50965C6.99999 6.53697 6.99999 6.56438 6.99999 6.59188C6.99999 6.61937 6.99999 6.64695 6.99999 6.67462C6.99999 6.70229 6.99999 6.73004 6.99999 6.75788C6.99999 6.78572 6.99999 6.81365 6.99999 6.84166C6.99999 6.86967 6.99999 6.89776 6.99999 6.92594C6.99999 6.95412 6.99999 6.98239 6.99999 7.01074C6.99999 7.03909 6.99999 7.06752 6.99999 7.09604C6.99999 7.12456 6.99999 7.15316 6.99999 7.18185C6.99999 7.21053 6.99999 7.2393 6.99999 7.26816C6.99999 7.29701 6.99999 7.32595 6.99999 7.35497C6.99999 7.38399 6.99999 7.4131 6.99999 7.44228C6.99999 7.47147 6.99999 7.50074 6.99999 7.53009C6.99999 7.55944 6.99999 7.58888 6.99999 7.61839C6.99999 7.64791 6.99999 7.67751 6.99999 7.70719C6.99999 7.73687 6.99999 7.76663 6.99999 7.79648C6.99999 7.82632 6.99999 7.85625 6.99999 7.88625C6.99999 7.91626 6.99999 7.94635 6.99999 7.97652C6.99999 8.00669 6.99999 8.03694 6.99999 8.06727C6.99999 8.0976 6.99999 8.12801 6.99999 8.1585C6.99999 8.18899 6.99999 8.21956 6.99999 8.25021C6.99999 8.28086 6.99999 8.31159 6.99999 8.34239C6.99999 8.3732 6.99999 8.40409 6.99999 8.43506C6.99999 8.46603 6.99999 8.49707 6.99999 8.5282C6.99999 8.55932 6.99999 8.59053 6.99999 8.62181C6.99999 8.65309 6.99999 8.68445 6.99999 8.71589C6.99999 8.74733 6.99999 8.77885 6.99999 8.81044C6.99999 8.84204 6.99999 8.87371 6.99999 8.90546C6.99999 8.93721 6.99999 8.96903 6.99999 9.00094C6.99999 9.03284 6.99999 9.06482 6.99999 9.09688C6.99999 9.12894 6.99999 9.16107 6.99999 9.19328C6.99999 9.22549 6.99999 9.25778 6.99999 9.29014C6.99999 9.3225 6.99999 9.35494 6.99999 9.38745C6.99999 9.41997 6.99999 9.45256 6.99999 9.48522C6.99999 9.51789 6.99999 9.55063 6.99999 9.58344C6.99999 9.61626 6.99999 9.64915 6.99999 9.68211C6.99999 9.71508 6.99999 9.74811 6.99999 9.78123C6.99999 9.81434 6.99999 9.84753 6.99999 9.88079C6.99999 9.91405 6.99999 9.94738 6.99999 9.98079C6.99999 10.0142 6.99999 10.0477 6.99999 10.0812C6.99999 10.1148 6.99999 10.1484 6.99999 10.1821C6.99999 10.2158 6.99999 10.2496 6.99999 10.2834C6.99999 10.3173 6.99999 10.3512 6.99999 10.3852C6.99999 10.4192 6.99999 10.4533 6.99999 10.4874C6.99999 10.5215 6.99999 10.5557 6.99999 10.59C6.99999 10.6243 6.99999 10.6586 6.99999 10.6931C6.99999 10.7275 6.99999 10.762 6.99999 10.7965C6.99999 10.9589 6.99999 11.0501 6.99999 11.2147C6.99999 11.2498 6.99999 11.285 6.99999 11.3202C6.99999 11.3555 6.99999 11.3908 6.99999 11.4262C6.99999 11.4616 6.99999 11.4971 6.99999 11.5326C6.99999 11.5682 6.99999 11.6038 6.99999 11.6394C6.99999 11.6751 6.99999 11.7109 6.99999 11.7467C6.99999 11.7825 6.99999 11.8183 6.99999 11.8543C6.99999 11.8902 6.99999 11.9262 6.99999 11.9623C6.99999 11.9984 6.99999 12.0345 6.99999 12.0707C6.99999 12.107 6.99999 12.1432 6.99999 12.1796C6.99999 12.2159 6.99999 12.2523 6.99999 12.2888C6.99999 12.3253 6.99999 12.3618 6.99999 12.3984C6.99999 12.435 6.99999 12.4717 6.99999 12.5085C6.99999 12.5452 6.99999 12.582 6.99999 12.6189C6.99999 12.6557 6.99999 12.6927 6.99999 12.7297C6.99999 12.7667 6.99999 12.8037 6.99999 12.8408C6.99999 12.878 6.99999 12.9152 6.99999 12.9524C6.99999 12.9897 6.99999 13.027 6.99999 13.0644C6.99999 13.1017 6.99999 13.1392 6.99999 13.1767C6.99999 13.2142 6.99999 13.2518 6.99999 13.2894C6.99999 13.3271 6.99999 13.3647 6.99999 13.4025C6.99999 13.4403 6.99999 13.4781 6.99999 13.516C6.99999 13.5539 6.99999 13.5918 6.99999 13.6298C6.99999 13.6678 6.99999 13.7059 6.99999 13.744C6.99999 13.7821 6.99999 13.8203 6.99999 13.8586C6.99999 13.8968 6.99999 13.9352 6.99999 13.9735C6.99999 14.0119 6.99999 14.0503 6.99999 14.0888C6.99999 14.1273 6.99999 14.1659 6.99999 14.2045C6.99999 14.2431 6.99999 14.2818 6.99999 14.3205C6.99999 14.3593 6.99999 14.3981 6.99999 14.4369C6.99999 14.4758 6.99999 14.5147 6.99999 14.5537C6.99999 14.5926 6.99999 14.6317 6.99999 14.6708C6.99999 14.7099 6.99999 14.749 6.99999 14.7882C6.99999 14.8274 6.99999 14.8667 6.99999 14.906C6.99999 14.9453 6.99999 14.9847 6.99999 15.0242C6.99999 15.0636 6.99999 15.1031 6.99999 15.1427C6.99999 15.1822 6.99999 15.2218 6.99999 15.2615C6.99999 15.3012 6.99999 15.3409 6.99999 15.3807C6.99999 15.4205 6.99999 15.4603 6.99999 15.5002C6.99999 15.5401 6.99999 15.58 6.99999 15.62C6.99999 15.6601 6.99999 15.7001 6.99999 15.7402C6.99999 15.7804 6.99999 15.8205 6.99999 15.8608C6.99999 15.901 6.99999 15.9413 6.99999 15.9816C6.99999 16.022 6.99999 16.0624 6.99999 16.1028C6.99999 16.1433 6.99999 16.1838 6.99999 16.2243C6.99999 16.2649 6.99999 16.3055 6.99999 16.3461C6.99999 16.3868 6.99999 16.4275 6.99999 16.4683C6.99999 16.5091 6.99999 16.5499 6.99999 16.5908C6.99999 16.6317 6.99999 16.6726 6.99999 16.7136C6.99999 16.7546 6.99999 16.7956 6.99999 16.8367C6.99999 16.8778 6.99999 16.9189 6.99999 16.9601C6.99999 17.0013 6.99999 17.0426 6.99999 17.0839C6.99999 17.1252 6.99999 17.1665 6.99999 17.2079C6.99999 17.2493 6.99999 17.2908 6.99999 17.3323C6.99999 17.3738 6.99999 17.4153 6.99999 17.4569C6.99999 17.4986 6.99999 17.5402 6.99999 17.5819C6.99999 17.6236 6.99999 17.6654 6.99999 17.7072C6.99999 17.749 6.99999 17.7909 6.99999 17.8328C6.99999 17.8747 6.99999 17.9166 6.99999 17.9586C6.99999 18.0006 6.99999 18.0427 6.99999 18.0848C6.99999 18.1269 6.99999 18.1691 6.99999 18.2113C6.99999 18.2535 6.99999 18.2957 6.99999 18.338C6.99999 18.3803 6.99999 18.4227 6.99999 18.4651C6.99999 18.5075 6.99999 18.5499 6.99999 18.5924C6.99999 18.6349 6.99999 18.6774 6.99999 18.72C6.99999 18.7626 6.99999 18.8052 6.99999 18.8479C6.99999 18.8906 6.99999 18.9333 6.99999 18.9761C6.99999 19.0189 6.99999 19.0617 6.99999 19.1045C6.99999 19.1474 6.99999 19.1903 6.99999 19.2333C6.99999 19.2762 6.99999 19.3192 6.99999 19.3623C6.99999 19.4053 6.99999 19.4484 6.99999 19.4916C6.99999 19.5347 6.99999 19.5779 6.99999 19.6211C6.99999 19.6644 6.99999 19.7076 6.99999 19.751C6.99999 19.7943 6.99999 19.8376 6.99999 19.881C6.99999 19.9245 6.99999 19.9679 6.99999 20.0114C6.99999 20.0549 6.99999 20.0984 6.99999 20.142C6.99999 20.1856 6.99999 20.2292 6.99999 20.2729C6.99999 20.3166 6.99999 20.3603 6.99999 20.404C6.99999 20.4478 6.99999 20.4916 6.99999 20.5354C6.99999 20.5793 6.99999 20.6232 6.99999 20.6671C6.99999 20.711 6.99999 20.755 6.99999 20.799C7 32.0904 7 46.0403 7 57L9 57C9 46.0653 9 32.0653 8.99999 20.799C8.99999 20.755 8.99999 20.711 8.99999 20.6671C8.99999 20.6232 8.99999 20.5793 8.99999 20.5354C8.99999 20.4916 8.99999 20.4478 8.99999 20.404C8.99999 20.3603 8.99999 20.3166 8.99999 20.2729C8.99999 20.2292 8.99999 20.1856 8.99999 20.142C8.99999 20.0984 8.99999 20.0549 8.99999 20.0114C8.99999 19.9679 8.99999 19.9245 8.99999 19.881C8.99999 19.8376 8.99999 19.7943 8.99999 19.751C8.99999 19.7076 8.99999 19.6644 8.99999 19.6211C8.99999 19.5779 8.99999 19.5347 8.99999 19.4916C8.99999 19.4484 8.99999 19.4053 8.99999 19.3623C8.99999 19.3192 8.99999 19.2762 8.99999 19.2333C8.99999 19.1903 8.99999 19.1474 8.99999 19.1045C8.99999 19.0617 8.99999 19.0189 8.99999 18.9761C8.99999 18.9333 8.99999 18.8906 8.99999 18.8479C8.99999 18.8052 8.99999 18.7626 8.99999 18.72C8.99999 18.6774 8.99999 18.6349 8.99999 18.5924C8.99999 18.5499 8.99999 18.5075 8.99999 18.4651C8.99999 18.4227 8.99999 18.3803 8.99999 18.338C8.99999 18.2957 8.99999 18.2535 8.99999 18.2113C8.99999 18.1691 8.99999 18.1269 8.99999 18.0848C8.99999 18.0427 8.99999 18.0006 8.99999 17.9586C8.99999 17.9166 8.99999 17.8747 8.99999 17.8328C8.99999 17.7909 8.99999 17.749 8.99999 17.7072C8.99999 17.6654 8.99999 17.6236 8.99999 17.5819C8.99999 17.5402 8.99999 17.4986 8.99999 17.4569C8.99999 17.4153 8.99999 17.3738 8.99999 17.3323C8.99999 17.2908 8.99999 17.2493 8.99999 17.2079C8.99999 17.1665 8.99999 17.1252 8.99999 17.0839C8.99999 17.0426 8.99999 17.0013 8.99999 16.9601C8.99999 16.9189 8.99999 16.8778 8.99999 16.8367C8.99999 16.7956 8.99999 16.7546 8.99999 16.7136C8.99999 16.6726 8.99999 16.6317 8.99999 16.5908C8.99999 16.5499 8.99999 16.5091 8.99999 16.4683C8.99999 16.4275 8.99999 16.3868 8.99999 16.3461C8.99999 16.3055 8.99999 16.2649 8.99999 16.2243C8.99999 16.1838 8.99999 16.1433 8.99999 16.1028C8.99999 16.0624 8.99999 16.022 8.99999 15.9816C8.99999 15.9413 8.99999 15.901 8.99999 15.8608C8.99999 15.8205 8.99999 15.7804 8.99999 15.7402C8.99999 15.7001 8.99999 15.6601 8.99999 15.62C8.99999 15.58 8.99999 15.5401 8.99999 15.5002C8.99999 15.4603 8.99999 15.4205 8.99999 15.3807C8.99999 15.3409 8.99999 15.3012 8.99999 15.2615C8.99999 15.2218 8.99999 15.1822 8.99999 15.1427C8.99999 15.1031 8.99999 15.0636 8.99999 15.0242C8.99999 14.9847 8.99999 14.9453 8.99999 14.906C8.99999 14.8667 8.99999 14.8274 8.99999 14.7882C8.99999 14.749 8.99999 14.7099 8.99999 14.6708C8.99999 14.6317 8.99999 14.5926 8.99999 14.5537C8.99999 14.5147 8.99999 14.4758 8.99999 14.4369C8.99999 14.3981 8.99999 14.3593 8.99999 14.3205C8.99999 14.2818 8.99999 14.2431 8.99999 14.2045C8.99999 14.1659 8.99999 14.1273 8.99999 14.0888C8.99999 14.0503 8.99999 14.0119 8.99999 13.9735C8.99999 13.9352 8.99999 13.8968 8.99999 13.8586C8.99999 13.8203 8.99999 13.7821 8.99999 13.744C8.99999 13.7059 8.99999 13.6678 8.99999 13.6298C8.99999 13.5918 8.99999 13.5539 8.99999 13.516C8.99999 13.4781 8.99999 13.4403 8.99999 13.4025C8.99999 13.3647 8.99999 13.3271 8.99999 13.2894C8.99999 13.2518 8.99999 13.2142 8.99999 13.1767C8.99999 13.1392 8.99999 13.1017 8.99999 13.0644C8.99999 13.027 8.99999 12.9897 8.99999 12.9524C8.99999 12.9152 8.99999 12.878 8.99999 12.8408C8.99999 12.8037 8.99999 12.7667 8.99999 12.7297C8.99999 12.6927 8.99999 12.6557 8.99999 12.6189C8.99999 12.582 8.99999 12.5452 8.99999 12.5085C8.99999 12.4717 8.99999 12.435 8.99999 12.3984C8.99999 12.3618 8.99999 12.3253 8.99999 12.2888C8.99999 12.2523 8.99999 12.2159 8.99999 12.1796C8.99999 12.1432 8.99999 12.107 8.99999 12.0707C8.99999 12.0345 8.99999 11.9984 8.99999 11.9623C8.99999 11.9262 8.99999 11.8902 8.99999 11.8543C8.99999 11.8183 8.99999 11.7825 8.99999 11.7467C8.99999 11.7109 8.99999 11.6751 8.99999 11.6394C8.99999 11.6038 8.99999 11.5682 8.99999 11.5326C8.99999 11.4971 8.99999 11.4616 8.99999 11.4262C8.99999 11.3908 8.99999 11.3555 8.99999 11.3202C8.99999 11.285 8.99999 11.2498 8.99999 11.2147C8.99999 10.6169 8.99999 10.1443 8.99999 9.58344C8.99999 9.55063 8.99999 9.51789 8.99999 9.48522C8.99999 9.45256 8.99999 9.41997 8.99999 9.38745C8.99999 9.35494 8.99999 9.3225 8.99999 9.29014C8.99999 9.25778 8.99999 9.22549 8.99999 9.19328C8.99999 9.16107 8.99999 9.12894 8.99999 9.09688C8.99999 9.06482 8.99999 9.03284 8.99999 9.00094C8.99999 8.96903 8.99999 8.93721 8.99999 8.90546C8.99999 8.87371 8.99999 8.84204 8.99999 8.81044C8.99999 8.77885 8.99999 8.74733 8.99999 8.71589C8.99999 8.68445 8.99999 8.65309 8.99999 8.62181C8.99999 8.59053 8.99999 8.55932 8.99999 8.5282C8.99999 8.49707 8.99999 8.46603 8.99999 8.43506C8.99999 8.40409 8.99999 8.3732 8.99999 8.34239C8.99999 8.31159 8.99999 8.28086 8.99999 8.25021C8.99999 8.21956 8.99999 8.18899 8.99999 8.1585C8.99999 8.128 8.99999 8.09759 8.99999 8.06727C8.99999 8.03694 8.99999 8.00669 8.99999 7.97652C8.99999 7.94635 8.99999 7.91626 8.99999 7.88625C8.99999 7.85625 8.99999 7.82632 8.99999 7.79648C8.99999 7.76663 8.99999 7.73687 8.99999 7.70719C8.99999 7.67751 8.99999 7.64791 8.99999 7.61839C8.99999 7.58888 8.99999 7.55944 8.99999 7.53009C8.99999 7.50074 8.99999 7.47147 8.99999 7.44228C8.99999 7.4131 8.99999 7.38399 8.99999 7.35497C8.99999 7.32595 8.99999 7.29701 8.99999 7.26816C8.99999 7.2393 8.99999 7.21053 8.99999 7.18185C8.99999 7.15316 8.99999 7.12456 8.99999 7.09604C8.99999 7.06752 8.99999 7.03909 8.99999 7.01074C8.99999 6.98239 8.99999 6.95412 8.99999 6.92594C8.99999 6.89776 8.99999 6.86967 8.99999 6.84166C8.99999 6.81365 8.99999 6.78572 8.99999 6.75788C8.99999 6.73004 8.99999 6.70229 8.99999 6.67462C8.99999 6.64695 8.99999 6.61937 8.99999 6.59188C8.99999 6.56438 8.99999 6.53697 8.99999 6.50965C8.99999 6.48233 8.99999 6.45509 8.99999 6.42794C8.99999 6.40079 8.99999 6.37373 8.99999 6.34676C8.99999 6.31978 8.99999 6.2929 8.99999 6.2661C8.99999 6.2393 8.99999 6.21259 8.99999 6.18596C8.99999 6.15934 8.99999 6.1328 8.99999 6.10635C8.99999 6.07991 8.99999 6.05355 8.99999 6.02728C8.99999 6.00101 8.99999 5.97483 8.99999 5.94873C8.99999 5.92264 8.99999 5.89664 8.99999 5.87072C8.99999 5.84481 8.99999 5.81899 8.99999 5.79325C8.99999 5.76752 8.99999 5.74187 8.99999 5.71632C8.99999 5.69076 8.99999 5.6653 8.99999 5.63992C8.99999 5.61455 8.99999 5.58926 8.99999 5.56407C8.99999 5.53888 8.99999 5.51378 8.99999 5.48876C8.99999 5.46375 8.99999 5.43883 8.99999 5.414C8.99999 5.38918 8.99999 5.36444 8.99999 5.33979C8.99999 5.31515 8.99999 5.29059 8.99999 5.26613C8.99999 5.24167 8.99999 5.2173 8.99999 5.19303C8.99999 5.16875 8.99999 5.14457 8.99999 5.12048C8.99999 5.09638 8.99999 5.07239 8.99999 5.04848C8.99999 5.02458 8.99999 5.00076 8.99999 4.97705C8.99999 4.95333 8.99999 4.9297 8.99999 4.90617C8.99999 4.88264 8.99999 4.8592 8.99999 4.83586C8.99999 4.81252 8.99999 4.78927 8.99999 4.76612C8.99999 4.74296 8.99999 4.7199 8.99999 4.69694C8.99999 4.67397 8.99999 4.6511 8.99999 4.62833C8.99999 4.60556 8.99999 4.58288 8.99999 4.56029C8.99999 4.53771 8.99999 4.51522 8.99999 4.49283C8.99999 4.47044 8.99999 4.44815 8.99999 4.42595C8.99999 4.40375 8.99999 4.38164 8.99999 4.35964C8.99999 4.33763 8.99999 4.31572 8.99999 4.29391C8.99999 4.2721 8.99999 4.25038 8.99999 4.22876C8.99999 4.20715 8.99999 4.18562 8.99999 4.1642C8.99999 4.14278 8.99999 4.12145 8.99999 4.10023C8.99999 4.079 8.99999 4.05787 8.99999 4.03684C8.99999 4.01581 8.99999 3.99487 8.99999 3.97404C8.99999 3.95321 8.99999 3.93247 8.99999 3.91184C8.99999 3.8912 8.99999 3.87066 8.99999 3.85023C8.99999 3.82979 8.99999 3.80945 8.99999 3.78921C8.99999 3.76897 8.99999 3.74884 8.99999 3.7288C8.99999 3.70876 8.99999 3.68882 8.99999 3.66898C8.99999 3.64915 8.99999 3.62941 8.99999 3.60977C8.99999 3.59014 8.99999 3.5706 8.99999 3.55117C8.99999 3.53173 8.99999 3.5124 8.99999 3.49317C8.99999 3.47394 8.99999 3.4548 8.99999 3.43578C8.99999 3.41675 8.99999 3.39782 8.99999 3.379C8.99999 3.36017 8.99999 3.34145 8.99999 3.32283C8.99999 3.30421 8.99999 3.28569 8.99999 3.26728C8.99999 3.24887 8.99999 3.23056 8.99999 3.21235C8.99999 3.19414 8.99999 3.17603 8.99999 3.15803C8.99999 3.14003 8.99999 3.12213 8.99999 3.10434C8.99999 3.08655 8.99999 3.06886 8.99999 3.05127C8.99999 3.03369 8.99999 3.01621 8.99999 2.99883C8.99999 2.98145 8.99999 2.96418 8.99999 2.94701C8.99999 2.92985 8.99999 2.91278 8.99999 2.89583C8.99999 2.87887 8.99999 2.86202 8.99999 2.84527C8.99999 2.82853 8.99999 2.81189 8.99999 2.79535C8.99999 2.77882 8.99999 2.76239 8.99999 2.74607C8.99999 2.72975 8.99999 2.71353 8.99999 2.69742C8.99999 2.68132 8.99999 2.66531 8.99999 2.64942C8.99999 2.63352 8.99999 2.61774 8.99999 2.60206C8.99999 2.58638 8.99999 2.5708 8.99999 2.55534C8.99999 2.53987 8.99999 2.52451 8.99999 2.50926C8.99999 2.49401 8.99999 2.47887 8.99999 2.46384C8.99999 2.44881 8.99999 2.43388 8.99999 2.41907C8.99999 2.40425 8.99999 2.38954 8.99999 2.37495C8.99999 2.36035 8.99999 2.34586 8.99999 2.33148C8.99999 2.3171 8.99999 2.30283 8.99999 2.28867C8.99999 2.27451 8.99999 2.26046 8.99999 2.24652C8.99999 2.23258 8.99999 2.21875 8.99999 2.20503C8.99999 2.19131 8.99999 2.1777 8.99999 2.1642C8.99999 2.1507 8.99999 2.13732 8.99999 2.12404C8.99999 2.11076 8.99999 2.0976 8.99999 2.08455C8.99999 2.07149 8.99999 2.05855 8.99999 2.04572C8.99999 2.03289 8.99999 2.02017 8.99999 2.00757C8.99999 1.99496 8.99999 1.98247 8.99999 1.97008C8.99999 1.9577 8.99999 1.94544 8.99999 1.93328C8.99999 1.92112 8.99999 1.90908 8.99999 1.89715C8.99999 1.88522 8.99999 1.87341 8.99999 1.8617C8.99999 1.85 8.99999 1.83841 8.99999 1.82694C8.99999 1.81546 8.99999 1.8041 8.99999 1.79285C8.99999 1.78161 8.99999 1.77047 8.99999 1.75946C8.99999 1.74844 8.99999 1.73753 8.99999 1.72675C8.99999 1.71596 8.99999 1.70529 8.99999 1.69473C8.99999 1.68417 8.99999 1.67373 8.99999 1.6634C8.99999 1.65307 8.99999 1.64286 8.99999 1.63277C8.99999 1.62267 8.99999 1.61269 8.99999 1.60283C8.99999 1.59297 8.99999 1.58322 8.99999 1.57359C8.99999 1.56396 8.99999 1.55445 8.99999 1.54505C8.99999 1.53566 8.99999 1.52638 8.99999 1.51722C8.99999 1.50805 8.99999 1.49901 8.99999 1.49008C8.99999 1.48116 8.99999 1.47235 8.99999 1.46366C8.99999 1.45497 8.99999 1.4464 8.99999 1.43794C8.99999 1.42949 8.99999 1.42115 8.99999 1.41294C8.99999 1.40472 8.99999 1.39662 8.99999 1.38864C8.99999 1.38066 8.99999 1.3728 8.99999 1.36506C8.99999 1.35732 8.99999 1.3497 8.99999 1.3422C8.99999 1.3347 8.99999 1.32732 8.99999 1.32006C8.99999 1.3128 8.99999 1.30566 8.99999 1.29864C8.99999 1.29162 8.99999 1.28472 8.99999 1.27794C8.99999 1.27116 8.99999 1.2645 8.99999 1.25797C8.99999 1.25143 8.99999 1.24501 8.99999 1.23872C8.99999 1.23243 8.99999 1.22625 8.99999 1.2202C8.99999 1.21415 8.99999 1.20822 8.99999 1.20242C8.99999 1.19661 8.99999 1.19093 8.99999 1.18537C8.99999 1.17981 8.99999 1.17437 8.99999 1.16905C8.99999 1.16374 8.99999 1.15854 8.99999 1.15347C8.99999 1.1484 8.99999 1.14346 8.99999 1.13863C8.99999 1.13381 8.99999 1.12911 8.99999 1.12454C8.99999 1.11996 8.99999 1.11551 8.99999 1.11118C8.99999 1.10686 8.99999 1.10265 8.99999 1.09858C8.99999 1.0945 8.99999 1.09055 8.99999 1.08672C8.99999 1.08289 8.99999 1.07919 8.99999 1.07561C8.99999 1.07203 8.99999 1.06858 8.99999 1.06525C8.99999 1.06192 8.99999 1.05872 8.99999 1.05565C8.99999 1.05257 8.99999 1.04962 8.99999 1.0468C8.99999 1.04398 8.99999 1.04128 8.99999 1.03871C8.99999 1.03614 8.99999 1.0337 8.99999 1.03139C8.99999 1.02907 8.99999 1.02688 8.99999 1.02482C8.99999 1.02276 8.99999 1.02083 8.99999 1.01902C8.99999 1.01721 8.99999 1.01554 8.99999 1.01399C8.99999 1.01244 8.99999 1.01101 8.99999 1.00972C8.99999 1.00843 8.99999 1.00726 8.99999 1.00623C8.99999 1.00519 8.99999 1.00428 8.99999 1.00351C8.99999 1.00273 8.99999 1.00208 8.99999 1.00156C8.99999 1.00104 8.99999 1.00065 8.99999 1.00039C8.99999 1.00013 8.99999 1 7.99999 1Z' fill='#DADADA')
            .menu.menu-h0
                .container
                    .menu__row
                        nav.header__nav
                            ul
                                li
                                    a(href="practice-area.html").header__nav-link.active
                                        span Practice Areas
                                li
                                    a(href="Attorneys.html").header__nav-link
                                        span Attorneys
                                li
                                    a(href="/").header__nav-link
                                        span Client Results
                                li
                                    a(href="perspectives.html").header__nav-link
                                        span Perspectives
                                li.with-submenu
                                    a(href="contact-us.html").header__nav-link
                                        span Contact
                    .personal-cabinet
                        form.form-search
                            input(type="search" placeholder="Search...")
                            button(disabled="true")
                                i.fal.fa-search
                        a.phone(href="tel:+14155135980") (415) 513-5980
    if data.inner
        header.header-inner
            .container
                .header-inner__row
                    .header__logo
                        a(href="home.html")
                            img(src="assets/img/logo.svg", alt="Logo")
                            img.mobile-logo(src="assets/img/mobile-logo.svg", alt="Logo")
                    .hamburger
                        span
                        span
                        span
                    a(href="tel:").header-phone
                        i.fal.fa-phone
                    .menu
                        nav.header__nav
                            ul
                                li
                                    a(href="practice-area.html").header__nav-link.active
                                        span Practice Areas
                                li
                                    a(href="Attorneys.html").header__nav-link
                                        span Attorneys
                                li
                                    a(href="/").header__nav-link
                                        span Client Results
                                li
                                    a(href="perspectives.html").header__nav-link
                                        span Perspectives
                                li.with-submenu
                                    a(href="contact-us.html").header__nav-link
                                        span Contact
                        .personal-cabinet
                            form.form-search
                                input(type="search" placeholder="Search...")
                                button(disabled="true")
                                    i.fal.fa-search
                            a.phone(href="tel:+14155135980") (415) 513-5980
                    .personal-cabinet
                        form.form-search
                            input(type="search" placeholder="Search...")
                            button(disabled="true")
                                i.fal.fa-search
                        a.phone(href="tel:+14155135980") (415) 513-5980
