header {
  z-index: 100;
}

.header {
  transition: all 750ms cubic-bezier(0.51, 0.005, 0.155, 1);
  width: 100%;
  // position: relative;
  max-width: 210px;

  @include medium {
    max-width: 100%;
  }

  background: url('assets/img/bg-header.png') no-repeat left top/cover;
  position: relative;
  top: 0;
  padding-top: 51px;

  &__inner {
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: 570px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 2s cubic-bezier(0.51, 0.005, 0.155, 1);
  }

  .header__nav > ul {
    height: 0;
    transition: all 0.9s linear;

    li {
      transition: all 0.7s linear;

      .header__nav-link {
        @include tablets {
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 0px;
        }
      }
    }
  }

  @include medium {
    width: 100%;
    background-image: none;
    background: #2b2b2e;
    height: 100px;
    box-shadow: 0px -1px 44px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    padding: 24px 15px;
    position: relative;

    .header__inner {
      flex-direction: row;
      justify-content: start;
      align-items: center;
      height: 100%;
      justify-content: space-between;
    }

    .header__arrow {
      display: none;
    }

    .header-phone {
      display: block;
    }
  }

  .menu {
    visibility: hidden;
    opacity: 0;
  }
}

.header__nav-link {
  font-family: $bold;
  font-weight: bold;
  font-size: $fz-h1;
  line-height: $fz-h1 + 16;
  transition: all 1s linear;
  color: $c-lightgray;
  text-transform: inherit;

  span {
    transition: all 1s linear;
  }

  &.active {
    opacity: 1 !important;
    color: $white;
  }

  @include phones {
    font-size: 24px;
    line-height: 38px;
  }

  &:hover {
    color: $c-lightgray;
  }
}

.header-phone {
  display: none;
  color: $white;
  order: 3;
  font-size: 34px;
}

.header__nav {
  position: relative;
  top: 50%;
  opacity: 1;
  // overflow: hidden;
  transform: translateY(-50%);
  transition: all 0.25s ease;

  &::-webkit-scrollbar {
    width: 0.3em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  @include medium {
    top: auto;
    transform: none;
  }

  > ul {
    list-style: none;

    &::-webkit-scrollbar {
      width: 0.3em;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    @include medium {
      padding-left: 0;
      text-align: center;
    }

    li {
      margin-bottom: 40px;

      @include medium {
        margin-bottom: 32px;
      }
    }
  }
}

.header__logo {
  a {
    img:last-child {
      display: none;
    }

    @include medium {
      img:first-child {
        display: none;
      }

      img:nth-child(2) {
        display: block;
      }
    }
  }

  @include medium {
    order: 2;
  }

  img:nth-child(3),
  img:nth-child(2) {
    display: none;
  }
}

.hamburger {
  width: 100%;
  max-width: 32px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    // background-color: $c-dark;
    // height: 3px;
    border-bottom: 3px solid $white;
    width: 100%;
    border-radius: 3px;
    display: block;
    transition: 0.2s ease;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &:nth-child(2) {
      width: 75%;
    }
  }

  &:hover,
  &:focus,
  &:active {
    // opacity: 0.5;
  }

  @include medium {
    order: 1;
  }
}

.header__arrow {
  position: relative;
  height: 100%;
  max-height: 58px;
  overflow: hidden;
  position: relative;
  width: 16px;
  transition: all 0.3s ease-in-out;

  svg {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 111;
    bottom: 0;
    min-width: 16px;
    transition: all 0.3s ease-in-out;
  }

  span {
    overflow: hidden;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 111;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    span {
      height: 70%;
    }
  }

  svg {
    height: 58px;
  }
}

.menu {
  .personal-cabinet {
    display: none;

    @include medium {
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
      align-items: center;

      .phone {
        margin-top: 10px;
        @include medium {
          margin-top: 0;
        }
      }
    }

    //    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto 40px;
  }

  .header__nav {
    bottom: -1000px;
  }
}

.menu-h0 {
  .header__nav {
    transition: all 0.25s ease;

    ul {
      overflow: hidden;
      transition: all 750ms cubic-bezier(0.51, 0.005, 0.155, 1);
      height: 0%;
    }
  }
}

.menu {
  background: linear-gradient(180deg, #3a6eaa 0%, #2b517c 100%);
  position: fixed;
  // top: initial;
  // bottom: 0;
  // opacity: 0;
  right: 0;
  // padding-top: 200px;
  // transition: all 2s cubic-bezier(0.51, 0.005, 0.155, 1);
  z-index: 1;
  // visibility: hidden;

  @include medium {
    left: -100%;
    top: 70px;
    width: 100%;
    padding-top: 30px;
  }

  @media (max-width: $tablets) and (orientation: landscape) {
    padding-bottom: 20px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero__content-link {
    position: absolute;
    right: 155px;
    top: 100px;
    z-index: 1;

    @include medium {
      visibility: visible;
      opacity: 1;
      right: 5px;
      position: relative;
      top: 0;
      display: block;
      text-align: right;

      .link {
        font-size: 16px;
        text-transform: none;
      }
    }
  }

  .header__nav {
    transition: all 2s cubic-bezier(0.51, 0.005, 0.155, 1);
  }
}

.hamburger-open {
  span {
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 7px);
    }

    &:nth-child(2) {
      transform: rotate(-30deg);
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-135deg) translate(7px, 7px);
    }
  }
}

.open-menu {
  .header__arrow {
    display: none;

    @include medium {
      display: none;
    }
  }
  @media (min-width: 992px) {
    .top-banner {
      display: none;
    }
  }
  .header {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;

    @include medium {
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100px;
    }
  }

  .header__inner {
    max-height: 350px;

    position: relative;

    margin: auto;

    z-index: 2;

    .hamburger {
      // margin-top: 133px;
      @include medium {
        margin-top: 0;
      }
    }

    @include medium {
      top: 0;
      position: relative;
      justify-content: space-between;
      transform: none;
      width: 100%;
    }
  }

  .menu {
    height: 100%;
    width: calc(100% - 210px);
    margin-left: auto;
    left: 80px;
    padding-top: 0;
    display: block;
    top: 0;
    bottom: initial;
    // opacity: 1;
    visibility: visible;
    transition: all 1s cubic-bezier(0.51, 0.005, 0.155, 1);

    .header__nav {
      transition: all 0.75s cubic-bezier(0.51, 0.005, 0.155, 1);
      bottom: 0;

      &-link {
        &:hover {
          color: #f0f0f0;
        }
      }
    }

    @include medium {
      height: auto;
      bottom: 0;
      width: 100%;
      top: initial;
      z-index: 11111;
      display: flex;
    }
  }

  .header__nav > ul {
    height: 100%;
  }

  .menu-h0 {
    .header__nav {
      ul {
        height: 100%;
        transition: all 750ms cubic-bezier(0.51, 0.005, 0.155, 1);
      }
    }
  }
}

.menu__bg {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.menu__row {
  position: fixed;
  top: 50%;
  // width: calc(100% - 225px);
  // top: calc(50% - 40px);
  // height: calc(50% + 40px);
  display: flex;

  // justify-content: space-between;
  @include medium {
    width: 100%;
    top: 25px;
    // overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    transform: none;
    height: auto;
    display: block;
    margin-bottom: 20px;
    overflow-y: auto;
  }
}

.fixed {
  transition: all 0.5s ease-in-out;
  position: fixed;
  min-width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px -1px 44px rgba(0, 0, 0, 0.1);
  opacity: 1;
  z-index: 100;
  padding-top: 0;
  align-items: center;

  .header__arrow {
    display: none;
  }

  .header__logo {
    img:first-child,
    img:nth-child(2) {
      display: none;
    }

    img:nth-child(3) {
      display: block;
    }
  }

  .header__inner {
    // margin-right: auto!important;
    max-width: 200px;
    order: 1;

    flex-direction: row;
    justify-content: start;
    max-height: initial;
    width: auto;
    margin: 0;
  }

  .hamburger {
    display: none;
  }

  .header__logo {
    order: 1;
    margin-left: auto;

    img {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }

  .menu {
    margin-left: 50px;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    order: 2;
    opacity: 1;
    height: 100%;
    background: transparent;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;

    .container {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      max-width: 100%;
      margin: 0;
      padding: 0;
      justify-content: start;
      align-items: center;
      // height: 100%;
    }

    .header__nav-link {
      font-family: $bold;
      font-weight: bold;
      font-size: 16px;
      line-height: 30px;
      color: #777a7c;
      margin: 32px 0px;
      opacity: 1;
      @media screen and (max-width: $medium) {
        font-size: 14px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }
    }

    .header__nav {
      width: 100%;
      position: relative;
      top: 0;
      transform: none;

      ul {
        height: 100%;
      }

      ul li {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 30px;
          @media screen and (max-width: $medium) {
            margin: auto;
          }
          @media screen and (max-width: 1200px) {
            margin-right: 15px;
          }
        }
      }
    }

    .menu__row {
      width: 100%;
      top: 0;
      position: relative;

      ul {
        padding-left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and(max-width: 1070px) and (min-width: $medium) {
          flex-wrap: nowrap;
          white-space: nowrap;
        }
      }
    }

    .form-search {
      position: absolute;
      right: 150px;

      button {
        i {
          color: $c-blue;
        }
      }
    }
  }

  .personal-cabinet {
    opacity: 1;
    display: flex;
    z-index: 1;
    margin-bottom: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    // position: static;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      max-width: 280px;
      border-left: 1px solid #f0f0f0;
      @media screen and(max-width: 1070px) and (min-width: $medium) {
        max-width: 225px;
      }
    }

    .phone {
      color: $c-text;
    }

    .form-search {
      z-index: 3;
    }
  }
}

.fixed-wrap {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  align-items: center;
}

.fixed-mobile {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.header-inner {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.4s linear;

  .container {
    position: relative;
  }

  &.fixed {
    transition: none;

    .header__logo {
      order: 1;
      @include medium {
        order: 2;
      }
    }

    .menu {
      order: 2;
      margin-left: 0;

      .personal-cabinet {
        display: none;
      }
    }

    .personal-cabinet {
      &:after {
        display: none;
      }

      order: 3;
    }

    .header__nav {
      opacity: 1;
      height: 100%;
      @include medium {
        overflow-y: auto;
      }
    }
  }

  height: 120px;
  background-color: $c-dark;
  @include medium {
    height: 100px;
  }

  .hamburger {
    display: none;
    order: 1;
    @include medium {
      display: flex;
    }
  }

  .header__logo {
    order: 1;

    img {
      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }

    @include medium {
      order: 2;
    }
  }

  .form-search {
    i {
      color: $c-blue-2;
    }

    //

    //
  }

  .menu {
    order: 2;
    flex-direction: row;
    display: flex;
    color: $white;
    background: none;
    opacity: 1;
    position: relative;
    width: 100%;

    .header__nav {
      top: 0;
      transform: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      height: 100%;
      @media screen and(max-width: 1024px) {
        padding-left: 24px;
      }

      li {
        white-space: nowrap;

        &:not(:last-child) {
          margin-right: 30px;
        }

        margin-bottom: 0;
      }
    }

    .header__nav-link {
      font-family: $bold;
      font-weight: bold;
      font-size: $fz;
      line-height: $fz + 14;
      color: $white;
      opacity: 1;
      @media screen and (max-width: 1300px) {
        font-size: 14px;
      }

      &.active {
        opacity: 0.5 !important;
      }
    }

    @include medium {
      margin-left: 50px;
      width: 100%;
      display: none;
      position: relative;
      flex-direction: row;
      order: 2;
      opacity: 1;
      height: 100%;
      background: transparent;
      justify-content: space-between;

      .container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0;
        padding: 0;
        justify-content: start;
        align-items: center;
        // height: 100%;
      }

      .header__nav-link {
        font-family: $bold;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        color: #777a7c;
        margin: 32px 0px;
        opacity: 1;
      }

      .header__nav {
        width: 100%;
        position: relative;
        top: 0;
        transform: none;
        overflow-y: auto;

        ul li {
          margin-bottom: 0;

          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }

      .menu__row {
        width: 100%;
        top: 0;
        position: relative;

        ul {
          padding-left: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      .form-search {
        position: absolute;
        right: 150px;

        button {
          i {
            color: $c-blue;
          }
        }
      }
    }
  }

  .personal-cabinet {
    order: 3;
    max-width: 250px;
    @include medium {
      display: none;
    }

    .form-search {
      position: absolute;
      right: 190px;
      @media screen and(max-width: 1024px) {
        right: 145px;
      }
    }

    .phone {
      color: $white;
      @include medium {
        display: none;
      }
    }
  }

  .header-phone {
    order: 3;
    display: block;
    @media screen and(min-width: $medium) {
      display: none;
    }
  }

  display: flex;
  align-items: center;
}

.header-inner__row {
  display: flex;
  align-items: center;
  @include medium {
    justify-content: space-between;
  }
}

.open-menu .header-inner {
  .menu {
    opacity: 1;
    height: 100%;

    .menu__row {
      position: fixed;
      top: 50%;
      // width: calc(100% - 225px);
      // top: calc(50% - 40px);
      // height: calc(50% + 40px);
      display: flex;

      // justify-content: space-between;
      @include medium {
        width: 100%;
        top: 25px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        position: relative;
        transform: none;
        height: auto;
        display: block;
        margin-bottom: 20px;
      }
    }

    .header__nav-link {
      font-family: $bold;
      font-weight: bold;
      font-size: $fz-h1;
      line-height: $fz-h1 + 16;
      opacity: 1;
      color: $c-lightgray;

      @include medium {
        font-size: $fz-h3;
        line-height: $fz-h3 + 16;
      }

      @include phones {
        font-size: 24px;
        line-height: 38px;
      }

      &:hover {
        color: $c-lightgray;
      }
    }

    .header__nav {
      position: relative;
      // margin: auto;

      > ul {
        list-style: none;
        flex-direction: column;
        overflow-y: auto;
        @include medium {
          padding-left: 0;
          text-align: center;
        }

        li {
          margin-bottom: 40px;

          @include medium {
            margin-bottom: 20px;
            margin-right: 0;
          }
        }
      }
    }

    @include medium {
      height: auto;
      background: linear-gradient(180deg, #3a6eaa 0%, #2b517c 100%);
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      top: 100px;
      z-index: 111;
      display: flex;
      margin: 0;
      flex-direction: column !important;
    }

    .personal-cabinet {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 auto;

      .phone {
        color: $white;
        display: block;
        margin-top: 0;
      }

      .form-search {
        position: relative;
        right: 0;

        i {
          color: $white;
        }

        &:focus {
          i {
            color: $c-blue;
          }
        }
      }
    }
  }
}

.form-search {
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  font-family: $ibm;
  margin-right: 20px;
  justify-content: space-between;

  input {
    border: none;
    display: none;
    opacity: 0;
    background: transparent;
    height: 100%;
    color: $white;
    position: relative;

    &:focus {
      padding-right: 0;
      border: none;
      outline: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: $white;
  }

  &:hover,
  :focus {
    padding: 0px 16px 0px 14px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    width: 100%;
    max-width: 315px;
    overflow: hidden;
    background-color: $white;

    button {
      background: none;
      border: none;
      width: 24px;
      height: 24px;
      color: $c-blue;

      &:focus,
      :active,
      :visited,
      :hover {
        padding: 0;
        outline: none;
        border: none;

        // color: rgba(109, 106, 109, .5)
      }
    }

    input {
      color: $c-text;
      width: 100%;
      opacity: 1;
      background-color: none;
      display: block;
    }
  }
}

.parentSerach-active {
  padding: 0px 16px 0px 14px;
  border: 1px solid #f0f0f0;
  width: 100%;
  max-width: 315px;
  background-color: $white;

  button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;

    &:focus,
    :active,
    :visited,
    :hover {
      padding: 0;
      outline: none;
      border: none;
    }
  }

  input {
    opacity: 1;
    display: block;
    color: $c-text;
    position: relative;
  }
}

.open {
  visibility: visible !important;
  opacity: 1 !important;
}
