@import '~swiper/dist/css/swiper.min.css';
.testimonials-block {
  background-color: $bg-lightBlue;
  padding-top: 160px;
  padding-bottom: 100px;
  position: relative;
  .why-choose-us-block {
    margin-top: 140px;
    @include medium {
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 1300px) {
    padding-top: 74px;
  }
  @include medium {
    padding-bottom: 49px;
    .testimonials-block_bg {
      bottom: 0;
    }
  }
  &__btn-bottom {
    display: none;
    @media screen and (max-width: $medium) {
      margin-top: 84px;
      margin-left: 15px;
      margin-right: 24px;
      display: inline-flex;
      position: relative;
      z-index: 2;
    }
    @include medium {
      margin-top: 25px;
      margin-bottom: 55px;
      margin-right: auto;
    }
  }
}
.testimonials-block__row {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 1300px) {
    flex-direction: column;
    padding-left: 28px;
    padding-right: 20px;
  }
}
.testimonials-block__col {
  width: 50%;
  position: relative;
  &:first-child {
    margin-right: 45px;
    max-width: 580px;
    @media screen and (max-width: 1300px) {
      max-width: 100%;
      .testimonials-block-swiper-navigation {
        display: none;
      }
      .testimonials-block-swiper-navigation {
        display: none;
      }
    }
  }
  &:last-child {
    margin-left: 45px;
    max-width: 590px;
    .testimonials-block-swiper-navigation {
      display: none;
    }
    @media screen and (max-width: 1300px) {
      max-width: 100%;
      margin-left: 0;
      .testimonials-block-swiper-navigation {
        display: flex;
        position: relative;
        margin-top: 70px;
        z-index: 1;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
}
.testimonials-block__swiper-container {
  position: relative;
}
.testimonials-block__content-text {
  p {
    font-family: $regular;
    font-size: $fz-h3;
    line-height: $fz-h3 + 16;
    @media screen and (max-width: 1300px) {
      font-size: $fz-h3 - 8;
      line-height: $fz-h3 + 16 - 8;
    }
  }
}
.overlay-slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: transparent;
  @media screen and (max-width: 1300px) {
    height: 90%;
  }
}
.testimonials-block-swiper-navigation {
  width: 130px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  left: 0;

  .swiper-arrow-left,
  .swiper-arrow-right {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: none;
    font-size: 0;
    height: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    cursor: url(assets/img/cursor.png) 2 2, pointer;
    &:hover {
      opacity: 0.35;
    }
  }
  .swiper-arrow-left,
  .swiper-arrow-right {
    &:focus {
      outline: none;
    }
  }
  .swiper-arrow-left {
    padding-left: 10px;
    justify-content: end;
  }
  .swiper-arrow-right {
    justify-content: start;
    transform: rotate(180deg);
  }
}
.testimonials-block__slider {
  // margin-bottom: 146px;
}
.testimonials-block_bg {
  height: 100%;
  height: 762px;
  width: 100%;
  display: block;
  bottom: 0;
  z-index: 1;
  position: absolute;
  > img {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  @media screen and (max-width: 1300px) {
    height: 600px;
    bottom: 247px;
  }
}
.testimonials-block__content-author {
  margin-top: 60px;
  display: flex;
  align-items: center;
  font-size: 14px;
  .user {
    margin-right: 15px;
  }
  .user + span {
    font-family: $bold;
    font-weight: bold;
    text-transform: uppercase;
  }
}
