mixin testimonials-block(data)
    section.testimonials-block
        .testimonials-block__slider
            .container
                .testimonials-block__row
                    .testimonials-block__col
                        .testimonials-block__swiper-titles.swiper-container
                            .swiper-wrapper
                                - var i = 0;
                                while i < 3
                                    - i++;
                                        .swiper-slide
                                            h2.description-block__user-title
                                                span You get a sense during the initial consult that he cares and understands the issues
                                                picture
                                                    img(src="assets/img/dark-tilda.svg", alt="img")
                        .testimonials-block-swiper-navigation
                            .swiper-button-next.swiper-arrow-left
                                img(src="assets/img/swiper-arrow-left.svg", alt="")
                            .swiper-button-prev.swiper-arrow-right
                                img(src="assets/img/swiper-arrow-right.svg", alt="")
                    .testimonials-block__col
                        .overlay-slider
                        .testimonials-block__swiper-container.swiper-container
                            .swiper-wrapper
                                - var i = 0;
                                while i < 3
                                    - i++;
                                        .swiper-slide
                                            .testimonials-block__content
                                                .testimonials-block__content-text
                                                    p I have worked with & been a client of more attorneys than I can count during my adult life. Mr. Metzger stands out among the very finest. You get a sense during the initial consult that he cares and understands the issues at hand and your predicament. He patiently explains (in honest to God English, no less!) the process about your prospective case.
                                                .testimonials-block__content-author
                                                    a.user(href="javascript:void(0)")
                                                        img(src="assets/img/ava.svg", alt="User")
                                                    span John, Chapter 7 Client
                        .testimonials-block-swiper-navigation
                            .swiper-button-next.swiper-arrow-left
                                img(src="assets/img/swiper-arrow-left.svg", alt="")
                            .swiper-button-prev.swiper-arrow-right
                                img(src="assets/img/swiper-arrow-right.svg", alt="")
        picture.testimonials-block_bg
            img(data-src="assets/img/testimonials-bg.jpg", alt="Bg")
        .container
            +why-choose-us-block
    a.btn.btn--tilda.testimonials-block__btn-bottom(href="/")
        span Advantages of a Boutique Firm
        span.tilda ～